<div class="">
  <div fxLayout="row" class="main">
    <div class="left-filters" fxHide fxShow.gt-sm fxFlex="23">
      <div class="refine">
        Refine results
      </div>

      <mat-divider></mat-divider>
      <mat-tree [dataSource]="dataSource1" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>

          <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
            (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isHeader" matTreeNodeToggle matTreeNodePadding
          fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div>
            <strong>{{node.item}}</strong>
          </div>
          <div>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isDivider" class="divider-node">
          <mat-divider class="tree-divider"></mat-divider>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isDuration" matTreeNodeToggle>
          <div fxLayout="column">
            <mat-slider class="" [max]="max" [min]="min" [(ngModel)]="value">
            </mat-slider>

            <input class="example-margin" matInput [(ngModel)]="value">

          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isRating" matTreeNodeToggle fxLayout="column"
          fxLayoutAlign="space-between start" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
            <button mat-stroked-button class="rate-button">4.5+</button>
            <button mat-stroked-button class="rate-button">4+</button>
            <button mat-stroked-button class="rate-button">3.5+</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px">
            <button mat-stroked-button class="rate-button">3+</button>
            <button mat-stroked-button class="rate-button">2.5+</button>
            <button mat-stroked-button class="rate-button">2.5+</button>
          </div>

        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isFee" matTreeNodeToggle>
          <div fxLayout="column">
           
            <ng5-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            <input class="example-margin" matInput [(ngModel)]="value">

          </div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" >

          <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
            (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>

          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>


    </div>

    <div fxFlex="77">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="20px" class="tag-button">
 <button mat-stroked-button *ngFor="let tags of tagList" class="tags">{{tags}}</button>
 <button mat-stroked-button *ngFor="let tags of tagList" class="tags">{{tags}}</button>

          </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="comp">
          <div>{{totalResults}} Results</div>
          <div class="sortButton">
            <div class="sort">
              Sort
              <button mat-icon-button aria-label="expand_more" (click)='sortCheck()'>
                <mat-icon>{{sortChecker?'expand_more':'chevron_right'}}</mat-icon>
              </button>
            </div>


          </div>
         </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <ng-container *ngFor="let course of courseList">
            <mat-card class="example-card"  (mouseenter)="changeTextMethod(course)"
              (mouseleave)="changeTextOutMethod(course)">
              <mat-card-header class="header">
                <div class="strip"></div>
                <div mat-card-avatar class="example-header-image"></div>

              </mat-card-header>

              <mat-card-content fxLayout="column" fxLayoutAlign="end" [ngStyle]="{'height':course.change ? '129px' : '179px','font-size':course.change ?'8px':'12px' }">
                <div class="content"
                  >
                  <a> <strong>
                      {{course.course_name}}
                    </strong></a>
                  <span *ngIf="!changeText">Hide</span>
                  <span *ngIf="changeText">Show</span>
                </div>
               
                <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap>
                  <div class="bulb" fxFlex="70"><img src="../../assets/profile/bag.png">
                    <span class="icon-body">{{" "}}{{course.course_fee}}</span></div>
                  <div class="star"><img src="../../assets/profile/clock.png"><span class="icon-body">{{" "}}{{course.course_time}}</span></div>
                </div>
                      <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap>
                  <div class="bulb"fxFlex="70" ><img src="../../assets/profile/bulb.png"><span
                      class="icon-body">{{" "}}Intermediate</span></div>
                  <div class="star"><img src="../../assets/profile/star.png"><span class="icon-body">{{" "}}{{course.course_rating}}/5
                      (215)</span></div>
                </div>
                

              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-footer [ngStyle]="{'height':course.change ? '111px' : '61px','font-size':course.change ?'10px':'13px' }">
                <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!course.change">
                  <div class="footer-univ">
                   <span > Indian insititute of Information technology</span>
                  </div>
                  <!-- <div>
                    <mat-icon *ngIf="bookMarkCourseMap.has(course.id)" >bookmark</mat-icon>
                    <mat-icon *ngIf="!bookMarkCourseMap.has(course.id)" >bookmark_border</mat-icon>
                 </div> -->
                 <div *ngIf="bookMarkCourseMap.has(course.id)" ><img src="../../assets/Vector (1).png">
                  </div>
                  <div *ngIf="!bookMarkCourseMap.has(course.id)" ><mat-icon>bookmark_border</mat-icon>
                  </div>
                </div>


                <div fxLayout="row wrap"  *ngIf="course.change">

                  <button mat-raised-button mat-icon-button (click)="bookmarkCourse(course)" fxLayout="row" class="hover-button">
                      <mat-icon class="icon1">bookmark_border</mat-icon> <span class="text-button">Bookmark</span>
                    </button>
                
                 
                    <button  mat-raised-button mat-icon-button class="hover-button" fxLayout="row" (click)="comparator(course)">
                      <mat-icon class="icon">queue</mat-icon>Compare
                    </button>
                 

                </div>
              </mat-card-footer>



            </mat-card>

          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>