@charset "utf-8";

.example-tree-invisible {
    display: none;
  }
  .example-tree{
    background: #FFFFFF;
    padding: 10px 25px 0px 25px;
  }
  .main{
    background: #F5F5F5;
    width: 100%;
  }
  .tree{
    background:#FFFFFF;
  }
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-card {
    
    margin-bottom: 20px;
    
    min-width: 275px !important;
    height: 250px !important;
    background: #FFFFFF;

border-radius: 5px;
     }
  
  .example-header-image {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 10px;
    z-index: 1;
    border-radius: 256px;
  }
  .header{
    margin-bottom: 20px;
  }
  .details{
    margin-top: 20px;
  }
  
  
  .strip{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    z-index: 0;
    background: #1B5D9A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.refine{
  

/* Heading / H6 or subtitle */
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0015em;
color: #757575;
padding: 20px 20px 20px 25px;
}

.sortButton{
 
  position: relative;
  width: 92px;
  height: 31px;
  
  
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 27px;
}
.sort{
 position: absolute; 
width: 35px;
height: 20px;
left: 15px;
top: 5px;

/* body text / body 1 / bold */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.005em;

color: #757575;

}
.compare{
  position: relative;
  width: 133px;
height: 31px;
  
  
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 27px;
}
.comp{
  padding: 0% 0% 1% 0;
}
.resultsNum{
  position: relative;
  left: -64%;
}

.mat-divider{
  position: relative;;
  width: 100%;
  }

.example-margin{
 
height: 32px;
  background: #F3F3F3;
border: 2px solid #C4C4C4;
box-sizing: border-box;
border-radius: 5px;
}
.header-display{
  display: flex !important;
  justify-content: flex-end !important;
}
.hover-button{
  width: 118px;
  height: 36px;
  border: 2px solid #0376FE;
  box-sizing: border-box;
  border-radius: 5px;
}
 .mat-card-footer{   
    margin: 10px 0px 0px 0px;
  
 }
.mat-card-content{
  margin-bottom: 0px!important;
  margin: -16px;
  &:hover{
    background-color: #D3D3D3;
    transition: 1s ease;
  }
}

.card-icons{
padding: 0px 16px 0px 19px;
}
.content{
  padding:34px 16px 16px 19px;
   position: relative;
  }





  .icon{
    position: relative;
    // right: 18px;
  }
  .icon1{
    position: relative;
    // right: 14px;
  }
  .rate-button{

    
    padding: 3px 10px;
    
    
    width: 64px;
    height: 26px;
   
    
    background: #E0E2E8;
    border-radius: 5px;
    
    /* Inside Auto Layout */
    
   
    margin: 10px 0px;

    &::ng-deep .mat-button-wrapper{
           position: relative;
           bottom: 6px;
    }
  }

  mat-expansion-panel{
    position: fixed;
  }
  .left-filters{
    background: #FFFFFF;
    position: relative;
  }
  .tree-divider{
  margin:10px 0px  10px 0px;
  border: 2px solid #E0E2E8;
  }
  .divider-node{
    min-height: 5px !important;
  }
  .tag-button{
    padding: 4% 0% 3% 0;
  
  }
  .tags{
    background: rgba(207, 202, 202, 0.8);
    /* tag */
    margin-bottom: 1%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.93px;
  }
  .fade1{
    transition: opacity linear 0.3s;
  }
  .bag,.clock{
    padding-top: 10%;
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    font-family: Muli;
    color: #8A8886;
    line-height: 20px;
  }
  .star,.bulb{
   
    padding-bottom: 3.5%;
    font-weight: 600;
    font-size: 0.8em;
    font-style: normal;
    font-family: Muli;
    color: #8A8886;
    line-height: 20px;
    padding-right: 0px;
  }
  .footer-univ{
   
width: 212px;
height: 36px;


font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #8A8886;
overflow: hidden;
  }

  ::ng-deep {
    .ng5-slider {
        .ng5-slider-pointer {
        height: 14px;
        width: 14px;
        top:-7px;
        }
      }
    }

    .text-button{
      font-family: Muli;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */
      
      display: flex;
      align-items: flex-end;
      text-align: center;
      
      color: #0376FE;
    }

    .comp-button{
      display: flex;
flex-direction: row;
padding: 6px 15px;

position: absolute;
width: 117px;
height: 36px;
left: 14px;
top: 205px;


box-sizing: border-box;
border-radius: 5px;
background-repeat: none;
background: url('../../assets/contactus/compare.png');

    }

    .book-button{
      position: absolute;
width: 118px;
height: 36px;
right:16px;
top: 205px;
background: url('../../assets/bookMarkButton.png');
background-repeat: none;

box-sizing: border-box;
border-radius: 5px;
    }

   .example-card:empty {
    display: inline-block;
    background-size: 1200px auto !important;
    
      // animation: loading 1.7s infinite forwards;
      background: #E8E8E8;
      display: inline-block;
      background-image: linear-gradient(to right, #E8E8E8 0%, #DDDDDD 20%, #E8E8E8 40%, #E8E8E8 100%);
      background-repeat: no-repeat;
      position: relative; 

      animation-duration: 1s;
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;
      animation-name: placeholderShimmer;
      animation-timing-function: linear;
      
 }
    @keyframes loading {
      0% {
        background-position: -468px 0;
      }
    
      100% {
        background-position: 468px 0; 
      }
    }

    @keyframes placeholderShimmer {
      0% {
        background-position: -468px 0;
      }
      
      100% {
        background-position: 468px 0; 
      }
    }

    .example-chip-list {
      width: 100%;
    }
    .mat-tree-node{
      min-height: auto !important;
    }
    ::ng-deep .mat-checkbox-layout{
margin-bottom: 0px;
    }

    ::ng-deep .mat-checkbox-label{
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 12px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;

    }
    .icon-display{
      transform: scale(0.80);
      position: relative;
      top:-12px;
    }
.tree-icon{
  height: 15px;
}
::ng-deep{
  .mat-checkbox-inner-container{
    width: 12px !important;
    height: 12px !important;
  }
}
.duration-input{
  max-width: 229px;
}
.fee-box{
  width: 229px;
}
.colorBlue{
  background: #0376FE;
}
.course-link{
  font-family:Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.005em;

color: #000000;

}
.book-icon{
  padding-right: 16px;
}
.bottomIndi{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
margin:auto;
text-align: center;
letter-spacing: 0.0015em;

color: #000000;
}

::ng-deep .mat-standard-chip {
  background: #E2F1FF !important;
  border-radius: 5px !important;
  color: #0376FE !important;

}
.tree-header{
  font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;
}