<div class="">
  <div fxLayout="row" class="main">
    <div class="left-filters" fxHide fxShow.gt-sm fxFlex="23">
      <div class="refine">
        Refine results
      </div>

      <mat-divider></mat-divider>
      <mat-tree [dataSource]="dataSource1" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="20">

          <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
            (change)="todoLeafItemSelectionToggle(node,$event)">{{node.item}}</mat-checkbox>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isHeader" isExpanded=true
          fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div>
            <strong>{{node.item}}</strong>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isDivider" class="divider-node">
          <mat-divider class="tree-divider"></mat-divider>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: isDuration" matTreeNodeToggle>
          <div fxLayout="column">
            <ng5-slider [(value)]="minDuration" [(highValue)]="maxDuration" [options]="options1"></ng5-slider>
           <div flexLayout="row" fxLayoutGap="20px" class="duration-input" fxLayoutAlign="space-around center">
            <input fxFlex="40" class="example-margin"  matInput [(ngModel)]="minDuration">
          <input  fxFlex="40" class="example-margin" matInput [(ngModel)]="maxDuration">
            </div>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isRating" matTreeNodeToggle fxLayout="column"
          fxLayoutAlign="space-between start" fxLayoutGap="5px">
          <div fxLayout="row" class="fee-box"fxLayoutAlign="space-around" fxLayoutGap="10px">
            <button  mat-stroked-button [ngClass]="{ 'colorBlue' :Selected45 }" (click)="clicked45()" class="rate-button" >4.5+</button>
            <button mat-stroked-button  [ngClass]="{ 'colorBlue' :Selected40 }" (click)="clicked40()" class="rate-button">4+</button>
            <button mat-stroked-button [ngClass]="{ 'colorBlue' :Selected35 }"  (click)="clicked35()" class="rate-button">3.5+</button>
          </div>
</mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isFee" matTreeNodeToggle>
          <div fxLayout="column">
           
            <ng5-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            <div flexLayout="row" fxLayoutGap="20px" class="duration-input" fxLayoutAlign="space-around center">
              <input fxFlex="40" class="example-margin" matInput [(ngModel)]="minValue">
            <input  fxFlex="40" class="example-margin" matInput [(ngModel)]="maxValue">
              </div>
          </div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasPadding" matTreeNodeToggle >

          <mat-checkbox class="checkbox-size" [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
            (change)="todoItemSelectionToggle(node,$event)">{{node.item}}</mat-checkbox>

          <button mat-icon-button class="tree-icon" *ngIf="node.expandable" [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="icon-display">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>


    </div>

    <div fxFlex="77">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="20px" class="tag-button">
          <ng-container *ngFor="let node of chipList">
          <mat-chip-list aria-label="Fish selection">
            
 <mat-chip   color="primary" [selectable]="selectable"
 [removable]="removable" (removed)="todoItemSelectionToggle(node,$event)">
           {{node.item}}
     <mat-icon matChipRemove>cancel</mat-icon>
</mat-chip>

</mat-chip-list>
</ng-container>
          </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="comp">
          <div> Results</div>
          <div class="sortButton">
            <div class="sort">
              Sort
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="expand_more" (click)='sortCheck()'>
                <mat-icon >{{sortChecker?'expand_more':'chevron_right'}}</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)='sortCheck()' >
                  Value 1
                </button>
                <button mat-menu-item  (click)='sortCheck()'>
                  Value 2
                </button>
               
              </mat-menu>
            </div>


          </div>
         </div>
         <div  
         class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()"
         >
        <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="20px" fxLayoutAlign="start center">
          <ng-container *ngFor="let course of courseList" >
            <mat-card class="example-card"  fxFlex="30" (mouseenter)="changeTextMethod(course)"
              (mouseleave)="changeTextOutMethod(course)">
              <mat-card-header class="header">
                <div class="strip"></div>
                <div mat-card-avatar class="example-header-image"></div>

              </mat-card-header>

              <mat-card-content fxLayout="column" fxLayoutAlign="space-between" [ngStyle]="{'height':course.change ? '179px' : '179px','font-size':course.change ?'12px':'12px' }">
                <div class="content"
                  >
                  <a  class="course-link" href="/course-detail?cid={{course.course_id}}"> <strong>
                      {{course.course_name}}
                    </strong></a>
                  
                </div>
               <div>
                <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap>
                  <div class="bulb" fxFlex="70"><img src="../../assets/profile/bag.png">
                    <span class="icon-body">{{" "}}{{course.course_fee}}</span></div>
                  <div class="star"><img src="../../assets/profile/clock.png"><span class="icon-body">{{"   "}}{{course.course_dur}}{{" "}}h</span></div>
                </div>
                      <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap>
                  <div class="bulb"fxFlex="70" ><img src="../../assets/profile/bulb.png"><span
                      class="icon-body">{{" "}}Intermediate</span></div>
                  <div class="star"><img src="../../assets/profile/star.png"><span class="icon-body">{{" "}}{{course.course_review}}/5
                      ({{course.course_rating}})</span></div>
                </div>
                </div>

              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-footer [ngStyle]="{'height':course.change ? '61px' : '61px','font-size':course.change ?'13px':'13px' }">
                <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="!course.change">
                  <div class="footer-univ">
                   <span >{{course.course_col}}</span>
                  </div>
                  <!-- <div>
                    <mat-icon *ngIf="bookMarkCourseMap.has(course.id)" >bookmark</mat-icon>
                    <mat-icon *ngIf="!bookMarkCourseMap.has(course.id)" >bookmark_border</mat-icon>
                 </div> -->
                 <div *ngIf="bookMarkCourseMap.has(course.course_id)" ><img src="../../assets/Vector (1).png">
                  </div>
                  <div *ngIf="!bookMarkCourseMap.has(course.course_id)" ><mat-icon>bookmark_border</mat-icon>
                  </div>
                </div>


                <div fxLayout="row wrap"  fxLayoutAlign="space-between" fxLayoutGap="30px" *ngIf="course.change">
                   <button mat-raised-button (click)="comparator(course)" class="comp-button"></button>
                    <button mat-raised-button (click)="bookmarkCourse(course)"  class="book-button"></button>
                </div>
              </mat-card-footer>



            </mat-card>

          </ng-container>
          <ng-container *ngIf="loadingFirst"> 
            <mat-card class="example-card" >
           </mat-card>
           <mat-card class="example-card" >
          </mat-card>
          <mat-card class="example-card" >
          </mat-card>
            </ng-container>

        
 </div>
 <div class="row pb-5">
  <div class="col-md-12 p-5">
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = ""
  size = "default"
  color = "#581f87"
  type = "ball-pulse-sync"
  [fullScreen] = "false"
  >
  </ngx-spinner>
</div>
</div>
 </div>
      </div>
    </div>
  </div>
</div>