<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row left-footer-ex">

          <p class="text-justify ">Find the best course <br> & become a Master! </p>
        </div>
        <div class="row left-footer">

          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-xs-6 cold-md-12 category">
            <h6>Useful Links</h6>
            <ul class="footer-links">
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/find">Top Courses</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Community</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Educoins</a></li>
              <li><a href="/policy">Code of Conduct</a></li>

            </ul>
          </div>
          <div class="col-xs-6 col-md-6 quicks">
            <h6>Abount Edunaut</h6>
            <ul class="footer-links">
              <li><a href="aboutus">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Team</a></li>
              <li><a href="contactus">Contact Us</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Affiliates</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Career</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Post/Add a course</a></li>
            </ul>
          </div>
        </div>

 </div>
      <div class="row">
        <div class="copyright col-md-12 col-sm-12 col-xs-12">
          <p class="copyright-text">Edunaut &copy; 2020 All Rights Reserved.
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">



      </div>
    </div>
  </div>
</footer>