<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row left-footer-ex">
          <div class="text-justify" fxLayout="column" fxLayoutGap="20px">
            <div><img src="../../assets/Capture.PNG" height="35">
              </div>
              <div class="text">Find The Right Courses <br>Become an Expert! 
              </div>
              <div class="row">

                <ul class="social-icons">
                  <li><a class="dribble" href="https://www.instagram.com/edunaut/" target="_blank"></a></li>
                   <li><a class="facebook" href="#"></a></li>
                  <li><a class="linkedin" href="#"></a></li>
                </ul>
      
              </div>
            </div>
        </div>
  
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-xs-6 cold-md-12 category">
            <h6>Useful Links</h6>
            <ul class="footer-links">
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/find">Top Courses</a></li>
              <li><a href="/coming-soon">Community</a></li>
              <li><a href="/coming-soon">Educoins</a></li>
              <li><a href="/policy">Code of Conduct</a></li>
              <li><a href="/coming-soon">Explore New</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-6 quicks">
            <h6>Abount Edunaut</h6>
            <ul class="footer-links">
              <li><a href="aboutus">About Us</a></li>
              <li><a href="contactus">Contact Us</a></li>
              <li><a href="/coming-soon">Affiliates</a></li>
              <li><a href="/coming-soon">Career</a></li>
              <li><a href="/coming-soon">Post/Add a course</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row copy">
      <div class="copyright col-12">
        <p class="copyright-text">Edunaut &copy; 2020 All Rights Reserved.
        </p>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row foot">

        <div class="col-12 ">
          <span class="terms"> Terms </span> <span class="privacy"> Privacy Policy </span> <span class="cookie">Cookie Policy </span>
        </div>

      </div>
    </div>
  </div>
 
</footer>
<mat-accordion *ngIf="courseList.length!==0">
  <mat-expansion-panel hideToggle="true" [disabled]="true" [expanded]="panelOpenState" #panel>
<mat-expansion-panel-header>
<mat-panel-description>
   
  <div *ngIf="courseList.length!==4" class="expansion-icon">Compare ({{courseList.length}})</div>
  <div *ngIf="courseList.length ===4" class="max-course"> <strong>Four courses ready to compare! </strong>Would you like to remove a course to make room for another one?</div>
  <div class="expansion-icon circle" *ngIf="!panel.expanded">
 <mat-icon (click)="open()">expand_less</mat-icon>
 </div>
 <div class="expansion-icon circle" *ngIf="panel.expanded">
  <mat-icon (click)="close()">expand_more</mat-icon>
  </div>
  <div class="cross circle" *ngIf="panel.expanded">
    <mat-icon (click)="close()" >close</mat-icon>
    </div>


</mat-panel-description>
</mat-expansion-panel-header>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAlign="space-around center">
  <div  fxFlex="18" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-around center">
    <button mat-raised-button [disabled]="bookmarkAllowed()" (click)="compare()" class="bookmark">Compare</button>
    <div (click)="clearAll()" class="clear"><a >Clear All</a></div>
</div>

 <ng-container *ngFor="let course of courseList;index as i"> 
  <mat-card class="example-card" (mouseenter)="changeTextMethod(course)" (mouseleave)="changeTextOutMethod(course)" fxFlex="18" >

    <div *ngIf="course.change" class="remover circle">
      <button mat-icon-button >
      <mat-icon (click)="removeCourse(i)" >close</mat-icon>
    </button>
      </div>
     
      <mat-card-header class="header">
        <div class="strip"></div>
        <div mat-card-avatar class="example-header-image" style=" background-image: url('assets/profile/{{course.course_provider}}.png');  background-position: center; background-size: 40px; background-repeat: no-repeat;"></div>

      </mat-card-header>

    <mat-card-content class="content" >
      <div  >
     <a> <strong>
      {{course.course_name}}
      </strong></a>
      </div>
  </mat-card-content>
 

</mat-card>
   </ng-container>
   <ng-container *ngFor="let item of [].constructor(4-courseList.length)"> 
    <mat-card class="example-card" fxFlex="19" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <mat-card-content class="card-content">
        <div class="circle">
          <button mat-icon-button >
          <mat-icon (click)="removeCourse(i)" >add</mat-icon>
        </button>
          </div>
             </mat-card-content>
  
  </mat-card>
 </ng-container>
  </div>
  <table mdbTable class="compare-table" striped="true" *ngIf='isCompare'>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements; index as indexOfelement;"  class="table-row" fxLayout="row" fxLayoutAlign="space-around center"  >
        <th scope="row" fxFlex="16"  class="thead">{{el.id}}</th>
        <ng-container  *ngIf="indexOfelement===0">
        <td fxFlex="16" *ngFor="let col of courseList;" class="thead" ><ngb-rating [rate]="col.course_review" [max]="5" [readonly]="true"></ngb-rating>{{" "}}{{col.course_review}}/5</td>
        <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
        </ng-container >
        <ng-container  *ngIf="indexOfelement===1">
          <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_col}}</td>
          <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
          </ng-container >
          <ng-container  *ngIf="indexOfelement===2">
            <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_certi}} </td>
            <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
            </ng-container >
            <ng-container  *ngIf="indexOfelement===3">
              <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_fee}} INR</td>
              <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
              </ng-container >
              <ng-container  *ngIf="indexOfelement===4">
                <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_provider}}</td>
                <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
                </ng-container >
                <ng-container  *ngIf="indexOfelement===5">
                  <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_diff}}</td>
                  <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
                  </ng-container >
                  <!-- <ng-container  *ngIf="indexOfelement===6">
                    <td fxFlex="16" *ngFor="let col of courseList;" >{{col.course_rating}}</td>
                    <td fxFlex="16" *ngFor="let item of [].constructor(4-courseList.length)" >NA</td>
                    </ng-container > -->
        <!-- <td fxFlex="16" *ngIf="showRating(indexOfelement)" [attr.data-index]="indexOfelement" ><ngb-rating [max]="5" [rate]="elements[indexOfelement].first" [readonly]="true"></ngb-rating>{{el.first}}</td>
        <td fxFlex="16" *ngIf="!showRating(indexOfelement)" [attr.data-index]="indexOfelement" >{{el.first}}</td>
        <td fxFlex="16" *ngIf="showRating2(indexOfelement)" ><ngb-rating [max]="5" [rate]="elements[indexOfelement].second" [readonly]="true"></ngb-rating>{{el.second}}</td>
        <td fxFlex="16" *ngIf="!showRating2(indexOfelement)">{{el.second}}</td>
        <td fxFlex="16" >{{el.handle}}</td>
        <td fxFlex="16" >{{el.handle}}</td> -->
      </tr>
    </tbody>
  </table>

</mat-expansion-panel>
  </mat-accordion>
