.site-footer {
  background-color: #ffffff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  hr.small {
    margin: 20px 0;
  }
  h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    /* or 225% */

    letter-spacing: -0.015em;

    color: #000000;
  }
  a {
    color: hsl(0, 33%, 97%);
    &:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }
  .social-icons {
    text-align: right;
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #33353d;
    }
  }
}
.footer-links {
  padding-left: 0;
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  letter-spacing: -0.015em;

  li {
    display: block;
  }
  a {
    color: #000000;

    &:active {
      color: #3366cc;
      text-decoration: none;
    }
    &:focus {
      color: #3366cc;
      text-decoration: none;
    }
    &:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }
}
.footer-links.inline {
  li {
    display: inline-block;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}
.copyright-text {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
}
.text-justify {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  letter-spacing: -0.015em;

  color: #000000;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-bottom: 4px;
  }
  li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }
  a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:active {
      color: #fff;
      background-color: #29aafe;
    }
    &:focus {
      color: #fff;
      background-color: #29aafe;
    }
    &:hover {
      color: #fff;
      background-color: #29aafe;
    }
  }
  a.facebook {
    &:hover {
      background-color: #3b5998;
    }
  }
  a.twitter {
    &:hover {
      background-color: #00aced;
    }
  }
  a.linkedin {
    &:hover {
      background-color: #007bb6;
    }
  }
  a.dribbble {
    &:hover {
      background-color: #ea4c89;
    }
  }
}
.social-icons.size-sm {
  a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .site-footer {
    [class^="col-"] {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
    .copyright-text {
      text-align: center;
    }
    .social-icons {
      text-align: center;
    }
  }
  .social-icons {
    li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}
.left-footer {
  position: relative;
  left: 11%;
}
.left-footer-ex {
  position: relative;
  left: 13%;
}
.category {
  position: relative;
  left: 15%;
}
.quicks {
  position: relative;
  left: 35%;
}
@media only screen and (max-device-width: 812px) {
  .category {
    position: relative;
    left: 10%;
  }
  .quicks {
    position: relative;
    left: 10%;
    padding: 0 !important;
  }
}

mat-accordion {
  position: fixed;
bottom: 1px;
width: 100%;
z-index: 2;
max-height: 600px;
overflow:scroll;
}
.mat-expansion-panel{
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 40px !important;
}
mat-panel-description{
  display: flex;
  justify-content: center;
}

.example-card {
 
  margin-top: 10px;
  height: 160px;
background: #F3F3F3;
position: relative;
  
}
.example-header-image {
  position: relative;
  background-image: url('../../assets/courseImage/course.png');
  background-size: cover;
  z-index: 1;
  top:10px;
}
.header{
  margin-bottom: 20px;
}
.strip{
  position: absolute;
width: 100%;
height: 15px;
left: 0px;
top: 42px;
background: #B5FAFD;

}
.expansion-icon{
 margin-left: auto;
 font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

text-align: center;
letter-spacing: 0.0015em;

color: #000000;
}
.circle{
  width: 32px;
  height: 32px;
  background: #E0E2E8;
  border-radius: 16px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.cross{
  margin-left: 10px;
  color: #000000;
}
.thead{
  font-weight: bold;
}
.bookmark{
  
width: 197px;
height: 44px;
background: #0376FE;
border-radius: 5px;
}
ngb-rating {
  font-size: 20px;
  color:#0376FE;;
}
.action{
  position: absolute;
   left: 15%;
  top: 100px;
  margin-left: auto; 
  margin-right: auto; 
  width: 170.91px;
   }
  .hover-button{
   width: 170.91px;
  height: 26.77px ;
   
  background: #FFFFFF;
  border: 1px solid #757575;
  box-sizing: border-box;
  border-radius: 5px;
  }
  .remover{
    position: absolute;
    top:-15px;
    left:95%;
  }
  .content{
    overflow: hidden;
    height: 80px;
  }
.clear{
  font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: flex-end;
text-align: center;

color: #0376FE;
}
