<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container ">
    <div class="row">
      <div class="col-6 heading">
        <p class="title">Find the Right Course!
        </p>
        <p class="title-body d-none d-sm-block ">A single online platform to find, compare, track <br> and review the right course for you,
          efficiently.</p>
        <button mdbBtn type="button" color="primary" mdbWavesEffect>Start Now</button>
      </div>
      <div class="col-6 title-img">
        <img src="../../assets/homepage/title.png" class="img-fluid " alt="title">
      </div>
    </div>
  </div>
</div>
<div class="container brands-head">
  Explore courses from over 30 providers
</div>
<div class="container-fluid brands">
  <app-companies-carousel></app-companies-carousel>
</div>
<div class="container-fluid brands-footer">
  <span class="cors">100,000+ courses</span><span>{{" "}}</span><span class="providers">30+
    Providers</span><span>{{" "}}</span><span class="universities">200+ Universities</span>
</div>
<div class="container-fluid skills">
  <div class="row">
    <div class="col-12 skills-header">
      Explore, Plan, Discuss
    </div>
    <div class="col-4">
      <img src="../../assets/homepage/Explore.png" class="img-fluid  rounded-circle" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="../../assets/homepage/Plan.png" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="../../assets/homepage/discuss.png" class="img-fluid rounded-circle" alt="Responsive image">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="domain-title">
        Choose your Domain
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 domain">
      <app-tile></app-tile>
    </div>
  </div>
</div>
<div class="container-fluid courses">
  <div class="row">
    <div class="col-6 ">
      <div class="quick">Quick Break
        <br>
        <button mdbBtn type="button" class="learn" color="primary" outline="true" mdbWavesEffect>Learn More</button>
      </div>
      <div class="view overlay zoom quick-img">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" width="60%" class="img-fluid z-depth-1"
          alt="1">
      </div>
    </div>
    <div class="col-6 quick-right">
      <div class="md-form">
        <textarea type="text" class="form-control" rows="5" mdbInput></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="find">Find the best courses and become a Master!</div>
      <div class="btn1">
        <button mdbBtn type="button" class="find-btn" color="primary" mdbWavesEffect>Start Now</button>
      </div>
    </div>
  </div>
</div>