
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <div class="row flex-start text-center">
        <div class="col-md-10 col-lg-6">
          <h1 class="display-5">Find the right course for you !</h1>

          <p class="lead">Where you choose to work has impact on your productivity and creativity. It also says a lot about your business. We are the right office space.</p>

          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#sec-pricing" role="button">Start Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
