<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container ">
    <div class="row">
      <div class="col-6 heading">
        <p>Find the best
          <br> course for you!
        </p>
        <button mdbBtn type="button" color="primary" mdbWavesEffect>Start Now</button>
      </div>
      <div class="col-6 title-img">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid z-depth-1" alt="1">
      </div>
    </div>
  </div>
</div>
<div class="container brands-head">
  Explore all courses at a Single Place
</div>
<div class="container-fluid brands">
<mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div  *ngFor="let card of item; let cardIndex = index">
        <img [src]="card.img" class="img-fluid"  alt="image">
    </div>
  </mdb-carousel-item>
</mdb-carousel>
</div>
<div class="container brands-footer">
  100,000+ courses
</div>
<div class="container-fluid skills">
  <div class="row">
    <div class="col-12 skills-header">
      Skills to Success
    </div>
    <div class="col-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">
    </div>
    <div class="col-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
      alt="Responsive image">
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
      <div class="domain-title">
        Course Catalogue
      </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
    <app-companies-carousel></app-companies-carousel>
      </div>
    </div>
  </div>
  <div class="container-fluid courses">
    <div class="row">
      <div class="col-6 ">
       <div class="quick">Quick Break
        <br>
        <button mdbBtn type="button" class="learn" color="primary" outline="true" mdbWavesEffect>Learn More</button>
      </div>
        <div class="view overlay zoom quick-img">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" width="60%"class="img-fluid z-depth-1" alt="1">
        </div>
      </div>
      <div class="col-6 quick-right">
        <div class="md-form">
          <textarea type="text"  class="form-control" rows="4" mdbInput></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="find">Find the best courses and become a Master!</div>
      <br>
      <div class="btn1">
      <button mdbBtn type="button" class="find-btn"color="primary" mdbWavesEffect>Start Now</button>
      </div>
    </div>
  </div>
  </div>