<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">
            Badges
        </div>
    </div>
        <hr>
        <div class="row to">
            <div class="col-3">
                <mdb-card>
                   <div class="badg">
                    <img class="img" src="../../assets/badges/popularity-0.png"
                        alt="Card image cap"></div>
                        <div class="badge-title">
                            Popularity Badge
                        </div>
                        <div class="level">
                            Level 1
                        </div>
                        <div class="task">
                            Recieve a total of 100 of upvotes
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="widt" ></div>
                          </div>
                          <div class="compare">
                              {{widt}}/100
                          </div>
                </mdb-card>
            </div>
            <div class="col-3">
                <mdb-card>
                    <div class="badg">
                     <img class="img" src="../../assets/badges/activity-0.png"
                         alt="Card image cap"></div>
                         <div class="badge-title">
                             Activity Badge
                         </div>
                         <div class="level">
                            Level 1
                        </div>
                        <div class="task">
                            Gain a total of 200 Activity Points
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="widt" ></div>
                          </div>
                          <div class="compare">
                              {{widt}}/100
                          </div>
                 </mdb-card>
            </div>
            <div class="col-3">
                <mdb-card>
                    <div class="badg">
                     <img class="img" src="../../assets/badges/service-0.png"
                         alt="Card image cap"></div>
                         <div class="badge-title">
                             Service Badge
                         </div>
                         <div class="level">
                            Level 1
                        </div>
                        <div class="task">
                            Complete 1 year of service
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="widt" ></div>
                          </div>
                          <div class="compare">
                              {{widt}}/100
                          </div>
                 </mdb-card>
            </div>
            <div class="col-3">
                <mdb-card>
                    <div class="badg">
                     <img class="img" src="../../assets/badges/profile.png"
                         alt="Card image cap"></div>
                         <div class="badge-title">
                             Profile Badge
                         </div>
                         <div class="level1">
                            t
                        </div>
                        <div class="task">
                            Complete your profile
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="widt" ></div>
                          </div>
                          <div class="compare">
                              {{widt}}/100
                          </div>
                 </mdb-card>
            </div>
        </div>
        <div class="col-12 more">
            More Badges Coming Soon!
        </div>
    
</div>