.bg {
  background-color: #f5f5f5 !important;
}
.title {
  padding-left: 15%;
  padding-top: 5%;
  font-family: Montserrat;
  font-size: 14px;
  color: #a19f9d;
  font-style: normal;
  font-weight: normal;
}
::ng-deep .mat-horizontal-stepper-header-container {
  position: absolute;
  bottom: 18%;
  left: 47.4%;
  padding: 0 !important;
}
::ng-deep .mat-step-icon-content,
.mat-step-icon .mat-icon {
  display: none;
}
::ng-deep .mat-horizontal-stepper-header {
  margin: -40 !important;
  padding: 0 !important;
  width: 14px !important;
  height: 14px !important;
  margin-right: 10px !important;
  cursor: default !important;
}
::ng-deep .mat-step-icon{
  width: 14px !important;
  height: 14px !important;
}
::ng-deep .mat-horizontal-stepper-header:hover{
  background-color: #f5f5f5; 
}
::ng-deep .mat-stepper-horizontal-line {
  display: none;
}
::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: #0376fe !important;
}
::ng-deep .mat-step-header:hover{
  background-color: #f5f5f5;
}
::ng-deep .mat-step-header:active{
  background-color: #f5f5f5;
}
::ng-deep .mat-step-header .mat-step-icon{
background: #e0e2e8;
}
.btn{
  background-color: #0376fe;
  color: white;
  font-family: Muli;
  font-style: normal;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
.interest{
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-left: 21%;
  padding-top: 1.5%;
}
.next{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 1.5%;
}
