<div class="container-fluid">
  <div class="row bg">
    <div class="col-12">
      <div class="title">
      Take The Right Course!
      </div>
    <mat-horizontal-stepper class="bg" linear #stepper>
  <!-- #docregion editable -->
    <mat-step [stepControl]="firstFormGroup" [editable]="true">
      <div class="container-fluid">
        <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12 interest">
            Choose Your Domain Of Interest
          </div>
          <div class="col-12">

          </div>
        </div>
    </div>
    <div class="col-4">
      <img class="img-fluid" src="../../assets/right-course/domain.png">
    </div>
    </div>
    <div class="row next">
      <div class="col-12">
      <button class="btn" mat-button matStepperNext>Next</button>
      </div>
    </div>
    </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="true">
      <div class="container-fluid">
        <div class="row">
      <div class="col-6">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel></ng-template>
        <mat-form-field>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      </div>
      <div class="col-6">
        Hey
      </div>
      </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="true">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel></ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel></ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
  </div>
  </div>