.bg {
  background-color: #f5f5f5 !important;
}
.title {
  padding-left: 15%;
  padding-top: 5%;
  font-family: Montserrat;
  font-size: 14px;
  color: #a19f9d;
  font-style: normal;
  font-weight: normal;
}
::ng-deep .mat-horizontal-stepper-header-container {
  position: absolute;
  bottom: 18%;
  left: 46.8%;
  padding: 0 !important;
}
::ng-deep .mat-step-icon-content,
.mat-step-icon .mat-icon {
  display: none;
}
::ng-deep .mat-horizontal-stepper-header {
  margin: -40 !important;
  padding: 0 !important;
  width: 14px !important;
  height: 14px !important;
  margin-right: 10px !important;
  cursor: default !important;
}
::ng-deep .mat-step-icon{
  width: 14px !important;
  height: 14px !important;
}
::ng-deep .mat-horizontal-stepper-header:hover{
  background-color: #f5f5f5; 
}
::ng-deep .mat-stepper-horizontal-line {
  display: none;
}
::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: #0376fe !important;
}
::ng-deep .mat-step-header:hover{
  background-color: #f5f5f5;
}
::ng-deep .mat-step-header:active{
  background-color: #f5f5f5;
}
::ng-deep .mat-step-header .mat-step-icon{
background: #e0e2e8;
}
.btn,.btn2,.prof{
  background-color: #0376fe;
  color: white;
  font-family: Muli;
  font-style: normal;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
}
.interest,.motivation-ques{
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-left: 21%;
  padding-top: 1.5%;
}
.next{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 1.5%;
}
.motivation-ques{
  padding-left: 20.5%;
}
.btn1{
  margin-right: 2%;;
}
.motivation-radio,.time,.pay{
  font-family: Muli;
  font-size: 16px;
  line-height: 20px;
  color: #494949;
  margin-left: 20.5%;
  margin-top: 3%;
}
.custom-control{
  padding-top: 2%;;
}
.hours{
  margin-left: 4%;
}
.bottom{
  padding-top: 1%;
}
.decision{
  margin-left: 6%;
}
.save{
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20.5%;
  color: #494949;
  padding-top: 1.5%;
}
.prof{
  margin-left: 20.5%;
  margin-top: 3%;  
  border-radius: 5px;
  border-color: #0376FE;
}
.later{
  margin-left: 1%;
  border-color: #0376fe;
  color: #0376fe;
  font-family: Muli;
  font-size: 14px;
  border-radius: 5px;
  background: white;
  padding: 0.15% 2%;
  font-weight: 600;

}
.already{
  margin-left: 20.5%;
  margin-top: 1.5%;
  font-family: Muli;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: normal;
  color: #8A8886;
}

.imo{
  position: relative;
  left: -16px;
  top: 11px;
  z-index: 1;
}
label{
  cursor: pointer;
  flex-direction: row; 
}
.first{
  margin-left: 140%;
}
.second{
  margin-left: 105%;
}.third{
  margin-left: 70%;
}
.fourth{
  margin-left: 32%;
}
.fifth{
  margin-left: -5%;
}
.sixth{
  margin-left: -40%;
}
.container1 {
  margin-top: 30%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 80px;
  background-color: white;
  border-radius: 10px;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #0376fe;
 
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}
input:checked ~ svg{
  fill: white;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0px 0px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.art{
  position: relative;
  top: 30px;
  left: 0px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: center;
letter-spacing: -0.015em;

}
.business{
  position: relative;
  top: 30px;
  left: -23px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: center;
letter-spacing: -0.015em;

}
.cs{
  position: relative;
  top: 30px;
  left: -26px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.dataScience{
  position: relative;
  top: 30px;
  left: -15px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.health{
  position: relative;
  top: 30px;
  left: -13px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.it{
  position: relative;
  top: 30px;
  left: -30px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.seventh{
  margin-left: 140%;
}
.eighth{
  margin-left: 105%;
}
.ninth{
  margin-left: 70%;
}
.tenth{
  margin-left: 32%;
}
.eleventh{
  margin-left: -5%;
}
.math{
  position: relative;
  top: 30px;
  left: -13px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.pd{
  position: relative;
  top: 30px;
  left: -33px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}
.science{
  position: relative;
  top: 30px;
  left: -17px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;


}
.ss{
  position: relative;
  top: 30px;
  left: -12px;

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 15px;
/* identical to box height */

text-align: justify;
letter-spacing: -0.015em;

}