<div *ngIf="isSignUp && !isForgetPassword" class="conatiner">
    <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="title">Sign Up</div>
    <div class="circle">
        <button mat-icon-button mat-dialog-close >
        <mat-icon  class="cross-icon">close</mat-icon>
      </button>
        </div>
    </div>
   
    <div class="auth-background" fxLayout="row" fxLayoutAlign="start center">
        <div  fxLayout="column" fxLayoutGap="20px">
          
                <div class="form-wrap" fxLayout="column" fxLayoutGap="20px">
                    <form class="form-padding" [formGroup]="signUpForm">
                        <div>
                        <div>
                        <label class="label">Name</label>
                        </div>
                        <input class="input-form" placeholder="Name" formControlName="signUpFormName" >
                        </div>
                        <div>
                            <div>
                            <label class="label">Email</label>
                            </div>
                            <input class="input-form" placeholder="example@gmail.com" formControlName="signUpFormEmail">
                            </div>
                            <div>
                                <div>
                                <label class="label">Password</label>
                                </div>
                                
                                <div fxLayout="row" class="input-wrap">
                                    
                              <input [type]="hide ? 'password': 'text'"   (change)="checkEmailValid()" class="input-form" placeholder="password" formControlName="signUpFormPassword">
                              <button mat-icon-button  class="show-password" (click)="showPass()" >
                                <mat-icon class="show-pass-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                               
                                </div>
                               
                            </div>
                            <div>
                                <div>
                                <label class="label">Password</label>
                                </div>
                                
                                <div fxLayout="row" class="input-wrap">
                                    
                              <input [type]="hide1 ? 'password': 'text'" class="input-form" placeholder="confirm password" formControlName="signUpFormConfirmPassword">
                              <button mat-icon-button  class="show-password" (click)="showPass1()" >
                                <mat-icon class="show-pass-icon">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            
                                </div>
                            </div>
                                <div class="tnc">
                                <mat-checkbox class="example-margin">I agree to the <a href="#"> Terms and Conditions</a></mat-checkbox>
                                </div>
                                <button mat-raised-button [disabled]="signUpForm.invalid" (click)="signUp()" class="signUp">
                                   <span class="create_account"> Create Account</span>
                                </button>

                    </form>
                    </div>
                <div class="form-wrap2" fxLayout="column" fxLayoutGap="20px">
                    <div class="oAuth-login">
                        <div class="continue-with">
                        or continue with
                        </div>
                        <div fxlayout="row" fxLayoutAlign="space-between center"> 
                            <button mat-raised-button (click)="facebookLogin()" mat-icon-button class="fb-button"></button>
                            <button mat-raised-button (click)="googleLogin()" mat-icon-button class="g-button"></button>
                        </div>

                    </div>
         
</div>
        </div>
        <div class="icon-area" >
            <div class="right-sign" fxLayout="column" fxLayoutAlign="space-between center">
                <div class="why-sign">
                    Why sign up?
                </div>
                <div class="para-sign">
                    Bookmark courses, review courses, take part in community discussions, and much more.
                </div>
                <div class="contactUs">
                  
                    </div>
                
                        <div>  
                            
                        <mat-divider></mat-divider>
                            Already a  member? <a class="link" (click)="isSignUp=!isSignUp">Sign In</a>
                        </div>
                </div>
        </div>
    </div>

</div>
<div *ngIf="!isSignUp && !isForgetPassword">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="title">Sign In</div>
 <div class="circle">
            <button mat-icon-button mat-dialog-close >
            <mat-icon  class="cross-icon">close</mat-icon>
          </button>
            </div>
        </div>
        <div class="auth-background" fxLayout="row" fxLayoutAlign="start center">
        <div  fxLayout="column" fxLayoutGap="20px" >
          
            <div class="form-wrap" fxLayout="column" fxLayoutGap="10px">
  <form class="form-padding" [formGroup]="elegantForm">
                    <div class="name">
                    <div>
                    <label class="label">Email</label>
                    </div>
                    <input class="input-form" formControlName="elegantFormEmailEx" placeholder="Name" >
                    </div>
                    
                    <div class="password">
                            <div>
                            <label class="label">Password</label>
                            </div>
                            
                            <div fxLayout="row" class="input-wrap">
                                
                          <input [type]="hide ? 'password': 'text'" formControlName="elegantFormPasswordEx" class="input-form" placeholder="example@gmail.com" >
                          <button mat-icon-button  class="show-password" (click)="showPass()" >
                            <mat-icon class="show-pass-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </div>
                        </div>
                            <div  fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-checkbox (change)="showOptions($event)" class="example-margin">Remember me</mat-checkbox>
                            <div class="forgot-pass"> 
                                <a class="link" (click)="isForgetPassword=!isForgetPassword">Forgot Password?</a>
                                </div>
                                
                            </div>
                            <button mat-raised-button class="signUp"  (click)="onSubmit()">
                               <span class="create_account" > Sign In</span>
                            </button>
                            <p *ngIf="showErrormessage" style="color:red; max-width:302px ;">{{errorMessage}}</p>
                </form>
               
                </div>
            <div class="form-wrap2" fxLayout="column" fxLayoutGap="20px">
                <div class="oAuth-login">
                    <div class="continue-with">
                    or continue with
                    </div>
                    <div fxlayout="row" fxLayoutAlign="space-between center"> 
                        <button mat-raised-button mat-icon-button (click)="facebookLogin()" class="fb-button"></button>
                        <button mat-raised-button mat-icon-button  (click)="googleLogin()" class="g-button"></button>
                    </div>

                </div>
     
</div>
    </div>
    <div class="icon-area" >
        <div class="right-sign" fxLayout="column" fxLayoutAlign="space-between center">
            <div class="why-sign">
                Why sign up?
            </div>
            <div class="para-sign">
                Bookmark courses, review courses, take part in community discussions, and much more.
            </div>
            <div class="whysignin">
              
                </div>
            
                    <div>  
                        <mat-divider></mat-divider>
                    <p>Not a member yet? <a class="link" (click)="isSignUp=!isSignUp">Sign Up</a></p>
                    </div>
            </div>
    </div>
    </div>
</div>

<div *ngIf="isForgetPassword" class="conatiner">
    <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="title">Password Assistance</div>
    <div class="circle">
        <button mat-icon-button mat-dialog-close >
        <mat-icon  class="cross-icon">close</mat-icon>
      </button>
        </div>
    </div>
   
    <div class="auth-background" fxLayout="row" fxLayoutAlign="start center">
        <div  fxLayout="column">
          
                <div class="form-wrap" fxLayout="column" fxLayoutAlign="start">
                    <form class="form-padding" [formGroup]="forgetPasswordForm">
                        <div>
                        <div>
                        <label class="label">Enter Email ID linked to your account </label>
                        </div>
                        <input class="input-form" placeholder="johndoe@example.com" formControlName="forgetPasswordEmail" >
                        </div>
                    </form>
              <div class="email-link-padding">
                  <p >An OTP to reset your password would be sent to your email ID on clicking the send email button.</p>
                 </div>
                   <div class="send-email" >
                 <button mat-flat-button (click)="resetPassword()"color="primary">Send Email</button>
                 </div>
                 </div>

            
        </div>
        <div class="icon-area" >
            <div class="right-sign">
              <div class="forget-password">
                        </div>
            </div>
        </div>
    </div>

</div>
