
.input-form{
  display: flex;
flex-direction: column;
padding: 6px 8px;



background: #FAFBFC;
border: 2px solid #E0E2E8;
box-sizing: border-box;
border-radius: 3px;

/* Inside Auto Layout */

flex: none;
order: 1;
margin: 0px 0px;
height: 32px;
width:302px;
}
.contactUs{
  background: url(../../assets/contactus.png);
  width: 257px;
height: 257px;
}
.whysignin{
  background: url(../../assets/login-details/vector.svg);
  width: 172px;
height: 202px;
position: relative;

}
.label{
  

font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 2vh;
line-height: 20px;
/* identical to box height, or 143% */


color: #494949;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: center;
margin: 4px 0px;
}
.tnc{
margin-bottom: 20px;
margin-top:20px
}
.signUp{
 
  background: #0376FE;
  border-radius: 5px;
}
.create_account{
 
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;

}
.form-padding{
  padding: 20px;
}
.oAuth-login{
  background: #F5F5F5;
  padding: 20px;
}
.form-wrap, .form-wrap2{
  background: #F5F5F5;
}
.continue-with{
  margin: 4px 0px;
  font-family: Muli;
font-style: normal;
line-height: 20px;
}
.fb-button{
  background: #FFFFFF;
border-radius: 6px;
min-width: 135px;
background: url('../../assets/login-details/facebook-login.jpg');
}
.g-button{
  background: #FFFFFF;
border-radius: 6px;
min-width: 135px;
background: url('../../assets/login-details/google-login.png');
}
.why-sign{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: justify;
letter-spacing: 0.02em;

color: #8A8886;
}
.para-sign{
  margin: 20px;
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  width: 237px;
  color: #8A8886;
  
}
.right-sign{
  padding: 25px;
}
.mat-divider{
 margin: 15px -25px 15px -25px;
}
.circle{
  width: 26px;
  height: 26px;
  background: #E2F1FF;
  border-radius: 13px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.cross-icon{
  color: #0376FE;
  font-size: 14px;
}
.show-password{
  position: absolute;
  left: 260px;
  
}
.input-wrap{
  position: relative;
 }
 .show-pass-icon{
  padding-bottom: 80%;
 }
 .forgot-pass{
   font-size: 2vh;
   margin-bottom: 0.5rem;
 }
 .divider-padding{
 
   border: 1px solid #E7E8ED;
  
    margin: 0px 20px 0px 20px !important;
   }
   .link{
     color: #0376FE !important;
   }
  
 .name , .password{
margin-bottom: 10px;
 }
 .title{
  font-family: Montserrat;
  
font-style: normal;
font-weight: bold;

line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;
 }
 .auth-background{
   margin-top: 10px;
 }

 .mat-checkbox-label{
  font-size: 2vh !important;

 }
 .example-margin{
   font-size: 2vh;
 }
 .forget-password{
  background: url(../../assets/login-details/forgetPassword.svg);
  height: 199px;
  width: 184px;
 }
 .email-link-padding{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.004em;
  width: 304px;
  color: #757575;
  padding: 0px 20px 0px 20px;
 }
 .send-email{
  width: 114px;
  padding: 0px 20px 20px 20px;
 }
 ::ng-deep .mat-standard-chip {
  background: #E2F1FF !important;
  border-radius: 5px;
}