$spacing: -0.015em;
.title {
  font-family: Montserrat;
  font-style: normal;
  color: #a1a1a1;
  font-size: 1.5em;
  font-weight: bolder;
  padding-bottom: 4%;
  letter-spacing: $spacing;
}
.about {
  background-color: #f5f5f5;
}

.numbers {
  font-size: 2.95em;
  line-height: 0.8em;
  word-spacing: 180px;
  padding-top: 5%;
  text-align: center;
  font-family: Montserrat;
}
.numbers-footer {
  font-size: 0.9em;
  font-family: Montserrat;
}
.learn {
  padding-left: 13.7%;
}
.page{
    padding-left: 11%;
}
.reviews {
  padding-left: 11.5%;
}
.affiliates{
    padding-left: 13.75%;
}
.courses {
  padding-left: 13%;
}
.explore {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.vision-img {
  margin-left: 32.5%;
  margin-top: 9.5%;
  margin-bottom: 9.5%;
  max-width: 100%;
}
.vision {
  padding-top: 2.5%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Montserrat;
}
.who,
.what {
  font-weight: 600;
  font-family: Montserrat;
  font-size: 1.25em;
  padding-bottom: 2.5%;
  color: #0087e5;
  font-style: normal;
}
.who-passage {
  padding-bottom: 2.5%;
}
.vision-passage{
    padding-bottom: 2.5%;
}
.our {
  font-weight: 600;
  font-family: Montserrat;
  font-size: 1.15em;
  color: #a1a1a1;
  font-style: normal;
}
.missions {
  font-weight: bold;
}
.missions-passage{
    padding-bottom: 8%;
}
.team {
  background-color: #f5f5f5;
}
.team-title {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  text-align: center;
  font-size: 1.4em;
  font-family: Montserrat;
  font-weight: 600;
  color: #0087e5;
}
.team-img {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3.5%;
}
@media screen and (max-width:1764px){
    .learn{
        padding-left: 12%;
    }
    .reviews{
        padding-left: 13%;
    }
}
@media screen and (max-width: 1660px){
    .learn{
        padding-left: 10%;
    }
    .page{
        padding-left: 11.5%;
    }
    .affiliates{
        padding-left: 16%;
    }
}
@media screen and (max-width: 1496px){
    .numbers{
        word-spacing: 140px;
    }
    .learn{
        padding-left: 8.3%;
    }
    .page{
        padding-left: 12%;
    }
    .reviews{
        padding-left: 12%;
    }
    .affiliates{
        padding-left: 15%;
    }
}
@media screen and (max-width: 1216px){
    .numbers{
        word-spacing: 90px;
    }
    .learn{
        padding-left: 5%;
    }
    .page{
        padding-left: 10%;
    }
}

@media screen and (max-width: 1012px) {

  .numbers {
    font-size: 2.3em;
    word-spacing: 70px;
    text-align: center;
  }
  .numbers-footer {
    font-size: 0.8em;
  }
  .learn {
    padding-left: 8%;
  }
  .page{
      padding-left: 8%;
  }
  .reviews {
    padding-left: 8.5%;
  }
  .affiliates{
      padding-left: 12%;
  }
  .courses {
    padding-left: 10%;
  }
}
@media screen and (max-width: 794px) {
  .title {
    font-size: 1.30em;
  }
  .what,.who{
      font-size: 1.10em;
  }
  .missions{
      font-size: 0.9em;
  }
  .numbers {
    font-size: 1.8em;
    word-spacing: 60px;
    line-height: 0.5em;
  }
  .numbers-footer {
    font-size: 0.7em;
  }
 
  .btn-primary {
    font-size: 1em;
  }
  p{
      font-size: 0.8em;
  }
  .vision {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1em;
  }
  .team-title {
    font-size: 1.4em;
    padding-left: 37%;
  }
  .team-img {
    padding-left: 13%;
  }
}
@media screen and (max-width: 650px){
    .numbers{
        font-size: 1.45em;
        word-spacing: 5px;
    }
    .numbers-footer{
        font-size: 0.55em;
    }
    .team-img{
        padding-left: 7%;
    }
    .learn{
        padding-left: 5%;
    }
    .reviews{
        padding-left: 4%;
    }
    .affiliates{
        padding-left: 6%;
    }
    .courses{
        padding-left: 4%;
    }
    .page{
        padding-left: 3%;
    }
}
.metrics{
  text-align: center;
}
.top1{
  padding-top: 5%;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
color: #494949;
word-spacing: 200px !important;
}
.bottom{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;
color: #A1A1A1;
word-spacing: 150px !important;
}
.courses{
  word-spacing: 20px;
}
.butt1{
  font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
background: #0376FE !important;
border-radius: 5px;
text-transform: none;
padding-top: 0.5%;
padding-bottom: 0.5%;
padding-left: 1.25%;
padding-right: 1.25%;
}
.butt1:hover{
  background-color: #0376dd !important;
  
}