<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">
            About Us
        </div>
    </div>
</div>
<div class="container-fluid top">
    <div class="row">
        <div class="col-md-6 ">
            <div class="ruler">
                <hr class="rule">
            </div>
            <p class="text-justify details">
                To add the value to the learning ecosystem by
                helping users find their perfect course from an
                infinite pool of online resources in the most efficient way.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/holi.jpg" class="img-fluid z-depth-1 about-img" alt="1">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="numbers"> 64M 1M 10000+ 30+ 3000+</p>
            <p class="numbers-footer"> <span class="learn">LEARNERS </span> PAGE-VISITS <span
                    class="reviews">REVIEWS</span> AFFILIATES <span class="courses"> COURSES</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 explore">
            <button mdbBtn type="button" color="primary" mdbWavesEffect>Explore Courses</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 ">
            <img src="../../assets/aboutus/Rectangle.png" class="img-fluid z-depth-1 vision-img" alt="1">
        </div>
        <div class="col-xl-8 vision">
            <p class="text-justify"> <span class="who">Who we are</span>
                <br> Edunaut is an online platform dedicated to helping learners discoveer courses. collaborate on
                projects and create learning pathways.It was launched in October 2020, by students and alumni of IIM
                Amritsar, IIT Guwahati and IIT Roorkee.
            </p>
            <p class="text-justify what">What We Stand For</p>
            <p class="text-justify our">Our Vision</p>
            <p class="text-justify">To add value to the learning ecosystem by helping users find their perfect course
                from an infinite pool of online resources in the most efficient way.</p>
            <p class="text-justify our">Our Missions</p>
            <p class="text-justify"><span class="missions">Exhaustiveness</span>- To create an exhaustive repository of
                online resources.
                <br><span class="missions">Evaluatory</span>- To provide tools that empower learners to evaluate and
                chosse the right
                course.
                <br><span class="missions">Unbiased</span>- To ensure our course recommendations and rankings remain
                unbiased.
                <br><span class="missions">Discoverability</span>-To expose learners to informative, yet overlooked
                resources.
                <br><span class="missions">Community-friendly</span>- To empower users to build a community for
                learning.
                <br><span class="missions">Centralized</span>- To help learners track the progress of all their courses
                at a single place.
                <br><span class="missions">Incremental</span>- To provide learners' insights to institutes for creating
                the required course.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid team">
    <div class="row">
        <div class="col-12 team-title">
            Meet Our Team
        </div>
        <div>
            <p class="text-justify team-body">Edunaut was co-founded by Sangeet Chandaliya, Anupriya Gupta, Vishak Regu, Anirudh Gupta and Saurav
                Sinha. At present, the platform is maintained by a team of 11 people. You can find further details of
                our team on Linkedin</p>
        </div>
    </div>
    <div class="row team-img">
        <div class="col-sm-2 col-4">
            <img src="../../assets/aboutus/Group 171.png" class="img-fluid " alt="1">
        </div>
        <div class="col-sm-2 col-4">
            <img src="../../assets/aboutus/Group 171.png" class="img-fluid " alt="1">
        </div>
        <div class="col-sm-2 col-4">
            <img src="../../assets/aboutus/Group 171.png" class="img-fluid " alt="1">
        </div>
        <div class="col-sm-2 col-4">
            <img src="../../assets/aboutus/Group 171.png" class="img-fluid " alt="1">
        </div>
        <div class="col-sm-2 col-4">
            <img src="../../assets/aboutus/Group 171.png" class="img-fluid " alt="1">
        </div>
    </div>
</div>