<div class="container-fluid about">
    <div class="row">
        <div class="col-xl-4 d-none d-xl-block">
            <img src="../../assets/aboutus/Aboutus.png" class="img-fluid z-depth-0 vision-img" alt="1">
        </div>
        <div class="col-xl-8 vision">
            <div class="row">
                <div class="col-12 title">
                    About Us
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-justify who"> Who we are</p>
                    <p class="who-passage"> Edunaut is an online platform dedicated to helping learners discover courses. collaborate
                        on
                        projects and create learning pathways.It was launched in September 2020, by students of
                        IIM
                        Amritsar, IIT Guwahati and IIT Roorkee.
                    </p>
                    <p class="text-justify what">What We Stand For</p>
                    <p class="text-justify our">Our Vision</p>
                    <p class="text-justify vision-passage">To add value to the learning ecosystem by helping users take the right
                        course
                        from an infinite pool of resources in the most efficient way.</p>
                    <p class="text-justify our">Our Missions</p>
                    <p class="text-justify missions-passage"><span class="missions">Exhaustiveness</span>- To create an exhaustive
                        repository of
                        online resources.
                        <br><span class="missions">Evaluatory</span>-  To empower learners with tools to evaluate courses.
                        <br><span class="missions">Unbiased</span>- To ensure our course recommendations and rankings
                        remain
                        unbiased.
                        <br><span class="missions">Discoverability</span>-To expose learners to informative, yet
                        under-appreciated courses.
                        <br><span class="missions">Community Friendly</span>- To empower users to build a community for
                        learning.
                        <br><span class="missions">Centralized</span>- To help learners track the progress of all their
                        courses
                        at a single place.
                        <br><span class="missions">Incremental</span>- To provide user insights to our collaborators for
                        creating
                        the required course.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid top">
    <div class="row">
        <div class="col-12 metrics">
            <p class="top1">30k+ 20+</p>
            <p class="bottom">Courses Providers</p>
           <!-- <p class="numbers"> 64M 1M 10000+ 30+ 3000+</p>
            <p class="numbers-footer"> <span class="learn">LEARNERS </span> <span>{{" "}}</span><span class="page">PAGE-VISITS</span><span>{{" "}}</span> <span
                    class="reviews">REVIEWS</span> <span>{{" "}}</span> <span class="affiliates">AFFILIATES</span> <span class="courses"> COURSES</span></p>-->
        </div>
    </div>
    <div class="row">
        <div class="col-12 explore">
            <a href="#"><button mdbBtn type="button" class="butt1 z-depth-0" color="primary" mdbWavesEffect>Explore Courses</button></a>
        </div>
    </div>
</div>
<div class="container-fluid team">
    <div class="row">
        <div class="col-12 team-title">
            Meet Our Team
        </div>
    </div>
    <div class="row team-img">
       <div class="col-12">
           <app-team></app-team>
       </div>
    </div>
</div>