.car{
  height: 100% !important;
  margin-left: 14%;
  margin-right: 14%;
  background-color: #eef9ff;
}
.im{
 vertical-align: middle;
 margin: auto;
}
.leftRs {
position: absolute;
margin: auto;
top: -35px;
bottom: 0;
width: 20px;
height: 30px;
border-style: none !important;
background-color: #eef9ff;
left: 0;
}

.rightRs {
position: absolute;
margin: auto;
top: -35px;
bottom: 0;
width: 20px;
height: 30px;
border-style: none !important;
background-color: #eef9ff;
right: 0;
}
.name{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;
/* or 183% */

text-align: center;
letter-spacing: -0.015em;

color: #000000;
padding-top: 15%;

}

