<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async">
  <div class="item" *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
    <mdb-card class="car z-depth-0">
      
      <mdb-card-img class="im" [src]="item.images" alt="Card image cap"></mdb-card-img>
      
      <div class="col-12 name">
        {{item.name}}
      </div>
    </mdb-card>
  </div>

  <button NguCarouselPrev class="leftRs d-none d-md-block" >
    <img src="../../assets/homepage/left1.png">
  </button>
  <button NguCarouselNext class="rightRs d-none d-md-block" >
    <img src="../../assets/homepage/right1.png">
  </button>

  <ul class="myPoint d-md-none" NguCarouselPoint>
    <li *ngFor="let i of myCarousel.pointNumbers" [class.active]="i == myCarousel.activePoint"
      (click)="myCarousel.moveTo(i)"></li>
  </ul>

</ngu-carousel>