
<mdb-navbar SideClass="navbar  sticky-top navbar-expand-lg navbar-light white " [containerInside]="false" [iconBackground]="'blue'">


  <mdb-navbar-brand class="navbar-brand">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Capture.PNG" height="30" class="d-inline-block align-top" alt="Edunaut">
</a>
  </mdb-navbar-brand>

  

    <div class="sample one">
      <input type="text" name="search" placeholder="Search and Explore Courses" [(ngModel)]='searchParameter'>
      <button type="submit" (click)="sendMessage()" class="fab fa-sistrix btn btn-search"></button>
    </div>
   
    
    <!-- Links -->
    <links>
    <ul class="navbar-nav ml-auto">
    
     
     

      <!-- Dropdown -->
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item " mdbWavesEffect>Community</a>
    </li>
      <li class="nav-item m-2 menu-item">
        <button mat-raised-button  mdbWavesEffect>Log In</button>
      </li>

    </ul>
   
  
     
   
  </links>

</mdb-navbar>
