




/* Actionable Item */
.navbar{
  padding:0;
  height: 56px !important;
  margin-bottom: 10px;
}
.navbar-brand{
  position: relative;
  left: 10%;
}

.nav-link{
   color: #9baec5;
}


input {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 30px;
    padding: 4px 8px;
  
    width: 50%;
    &:focus {
      outline: none;
    }
  }
  button {
    text-align: center;
    &:focus {
      outline: none;
    }
    &.btn-search {
      background:  #0376FE;
      border: none;
      height: 30px;
      font-size: 12px;
      padding: 4px;
      position: absolute;
      width: 30px;
      top: -4px !important;
      right: -4px !important;
    }
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: #a7a4a4;
    font-size: 0.88em;
    padding-left: 15px;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a7a4a4;
    font-size: 0.88em;
    padding-left: 15px;
  }
  
  ::placeholder {
    color: #a7a4a4;
    font-size: 0.88em;
    font-family: Montserrat;
    padding-left: 15px;
  }
  
  @media only screen 

  and (max-device-width: 812px) 
   { 

    /* Here are some changes*/
    button {
      &.btn-search {
        right:-8px !important;
      }
    }
    .sample {
      float: left;
  
      margin: 0 0% !important;
      position: relative;
      width: 34%;
      &.one,
      &.two {
        input {
          border-radius: 15px;
          right: 0;
         width: 100%;
          &:focus {
            width: 100%;
            ~ button {
              &.btn-search {
                background:  #0376FE;;
                color: #fff;
              }
              
            }
          }
        }
        button {
          transition: all .3s ease-in-out;
          &.btn-search {
            background: #ccc;
            border-radius: 50%;
            height: 26px;
            right: 2px;
            top: 2px;
            transition: all .3s ease-in-out;
            width: 26px;
          }
        
        }
      }
  }
}


  .sample {
    float: left;

    margin: 0 25%;
    position: relative;
    width: 34%;
    &.one,
    &.two {
      input {
        border-radius: 15px;
        right: 0;
       width: 100%;
        &:focus {
          width: 100%;
          ~ button {
            &.btn-search {
              background:  #0376FE;;
              color: #fff;
            }
            
          }
        }
      }
      button {
        transition: all .3s ease-in-out;
        &.btn-search {
          background: #ccc;
          border-radius: 50%;
          height: 26px;
          right: 2px;
          top: 2px;
          transition: all .3s ease-in-out;
          width: 26px;
        }
      
      }
    }
}
 