
<mdb-navbar SideClass="navbar sticky-top navbar-expand-lg navbar-light white" class="some"  [containerInside]="false" [iconBackground]="'blue'">


  <mdb-navbar-brand class="edu-brand">
    <a class="navbar-brand" href="#">
      <img src="../../assets/Capture.PNG" height="30" class="d-inline-block align-top" alt="Edunaut">
</a>
  </mdb-navbar-brand>
 <div class="sample one">
      <input type="text" id="search" name="search" (keyup.enter)="sendMessage()" placeholder="Search and Explore Courses" [(ngModel)]='searchParameter'>
     <a href="/find?search={{searchParameter}}"> <button type="submit"   class="fab fa-sistrix btn btn-search"></button></a>
    </div>
   
    
    <!-- Links -->
    <links>
    <ul class="navbar-nav ml-auto">
    
     
     

      <!-- Dropdown -->
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item " mdbWavesEffect>Community</a>
    </li>
      <li  *ngIf="!loggedIn"  class="nav-item m-2 menu-item">
        <button mat-raised-button (click)="openDialog()" mdbWavesEffect>Log In</button>
      </li>
      <li  *ngIf="loggedIn"  class="nav-item m-2 menu-item">
        <button mat-raised-button (click)="signOut()" mdbWavesEffect>Log Out</button>
      </li>

    </ul>
   
  
     
   
  </links>

</mdb-navbar>
