<div *ngIf="isCourse" class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="assets/profile/{{course.course_provider}}.png" class="img-fluid provider">
        </div>
        <div class="col-6 buttons">
            <!-- <a (click)="comparator()"><img src="../../assets/course-detail/compare.png" class="img-fluid com">{{" "}}
                <span class="compare">Compare</span></a> {{" "}}-->
            <a *ngIf="!isBookmark" (click)="bookmarkCourse()"> <img src="../../assets/course-detail/bookmark.png"
                    class="img-fluid book">{{" "}} <span class="bookmark">Bookmark</span></a><a (click)="removeBookmark()"><img
                src="../../assets/Vector (1).png" class="img-fluid book" *ngIf="isBookmark">{{" "}} <span
                class="bookmark" *ngIf="isBookmark">Bookmarked</span></a>{{" "}}
           <a (click)= "completeCourse()"> <img *ngIf="!isComplete" src="../../assets/course-detail/completed.png" class="img-fluid comp"></a>
           <a (click)="removeComplete()"> <img *ngIf="isComplete" src="../../assets/course-detail/complete.png" class="img-fluid comp"></a>{{" "}} <a (click)="completeCourse()"><span
                *ngIf="!isComplete" class="completed">Complete</span></a><a (click)="removeComplete()"><span class="completed" *ngIf="isComplete">Completed</span></a> {{" "}}
            <a (click)="basicModal.show()"><img src="../../assets/course-detail/report.png"
                    class="img-fluid rep">{{" "}} <span class="report">Report</span></a> {{" "}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 title">
            {{course.course_name}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 title-footer">
            <button *ngFor="let j of courseDomain" type="button" class="z-depth-0" mdbBtn color="primary"
                mdbWavesEffect><a href="/find?search={{j}}">{{j}}{{" "}}</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-12"><a [href]="course.course_link" target="_blank"><button type="button" class="go" mdbBtn
                        color="info" mdbWavesEffect>Go To
                        Course</button></a></div>
            <div class="col-12 about">About The Course</div>
            <div class="col-12 course-description">
                <p class="text-justify bod">
                    {{course.course_desc}}
                </p>
            </div>
            <div class="col-12 about-instructor">
                About The Instructor
            </div>
            <div class="row">
                <div class="col-6 professor-name1">{{course.course_ins}}
                    <div class="professor-body">
                        {{course.course_ins_col}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="course-details">
                <div class="head">
                    Course Details
                </div>
                <div class="details">
                    <div>
                        <span class="time"><img src="../../assets/course-detail/clock.png"></span><span *ngIf="course.course_dur > 0"
                            class="time-detail">{{course.course_dur}} Hrs</span><span *ngIf="course.course_dur<=0" class="time-detail">Information Unavailable</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/ratings.png"></span><span
                            *ngIf="course.course_review == -1" class="time-detail">No Reviews on
                            {{course.course_provider}}</span>
                        <span *ngIf="course.course_review != -1" class="time-detail">{{course.course_review}} on
                            {{course.course_provider}}</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/price.png"></span><span
                            *ngIf="course.course_fee == -1" class="time-detail">Free</span><span
                            *ngIf="course.course_fee != -1" class="time-detail">{{course.course_fee}}{{" "}}INR</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/university.png"></span><span
                            class="time-detail">{{course.course_col}} </span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/certificate.png"></span><span
                            class="time-detail">Certification{{" "}}{{course.course_certi}} </span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/audit.png"></span><span
                            *ngIf="course.course_audit == '-'" class="time-detail">You cannot audit this course
                        </span><span *ngIf="course.course_audit != '-'" class="time-detail">You cannot audit this course
                        </span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/compass.png"></span><span
                            class="time-detail">This course is self paced</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/calendar.png"></span><span
                            class="time-detail">Start Any Time</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/bulb.png"></span><span
                            class="time-detail">{{course.course_diff}}</span>
                    </div>
                    <hr>
                    <div>
                        <span class="time"><img src="../../assets/course-detail/language.png"></span><span
                            class="time-detail">{{course.course_lang}}</span>
                    </div>
                    <hr>
                    <div class="bottom">
                        <span class="time"><img src="../../assets/course-detail/transcript.png"></span><span
                            class="time-detail">{{course.course_trnsc}} Transcripts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Report Modal Here-->
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header mod-head">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <span class="modal-title w-100" id="myModalLabel">Report Course</span>
            </div>
            <div class="modal-body mod-body">
                <p>Please let us know of any discrepancies in the course details. Your feedback helps make Edunaut a
                    better learning platform for all.</p>
                <div class="md-form">
                    <textarea type="text" id="form7" class="md-textarea form-control"
                        placeholder="Explain this report. Link appropriate resources if necessary." [(ngModel)]="courseReport"></textarea>
                </div>
            </div>
            <div class="modal-footer mod-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light cancel z-depth-0" aria-label="Close"
                    (click)="basicModal.hide()" mdbWavesEffect>Cancel</button>
                <button type="button" mdbBtn (click)="reportCourse()" (click)="showAndHideModal()" (click)="basicModal.hide()" color="primary"
                    class="relative waves-light submit" mdbWavesEffect>Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End Of Modal-->
<!-- Course Report Modal-->
<div mdbModal #basicModal1="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content mod1">
            <div class="modal-header mod1-head">
                <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                    </span><span>{{" "}}</span> Thanks! We'll review your report and take appropriate action. We'll get
                    back to you soon!</span>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal-->
<!-- Review Post Modal-->
<div mdbModal #basicModal2="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content mod1">
            <div class="modal-header mod1-head">
                <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                    </span><span>{{" "}}</span> Thanks for adding your review!
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal-->
<!-- Review Edit Modal-->
<div mdbModal #basicModal3="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content mod1">
            <div class="modal-header mod1-head">
                <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                    </span><span>{{" "}}</span> Your Review has been edited.
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal-->
<!-- Course Bookmark Modal-->
<div mdbModal #basicModal4="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content mod1">
            <div class="modal-header mod1-head">
                <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                    </span><span>{{" "}}</span> This course has been bookmarked!
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal-->
<!-- Review Report Modal-->
<div mdbModal #basicModal6="mdbModal" class="modal rep-review fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header hed">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal6.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <span class="modal-title modal-tit w-100" id="myModalLabel">Report Review</span>
            </div>
            <div class="modal-body mod-body">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios"
                        checked mdbInput>
                    <label class="custom-control-label" for="defaultUnchecked">Poorly Written - <span class="desc">
                            Bad formatting/grammar/spelling
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked1" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked1">Irrelevant - <span class="desc">
                            Joke post/not a review
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked2" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked2">Spam/Solicitment - <span class="desc">
                            Undisclosed promotion for an external link or product
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked3" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked3">Inaccuracy - <span class="desc">
                            Factual content errors
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultUnchecked1">Adult Content - <span class="desc">
                            Sexually explicit/violent/otherwise inappropriate
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked4" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked4">Plagiarism/Copyright Infringement - <span
                            class="desc">
                            Reusing content without attribution (link and blockquotes)
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked5" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked5">Privacy Violation - <span class="desc">
                            Revealing personal/confidential information without consent.
                        </span></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultChecked6" name="defaultExampleRadios"
                        mdbInput>
                    <label class="custom-control-label" for="defaultChecked6">Harassment - <span class="desc">
                            Attacks based on personal or group identities.
                        </span></label>
                </div>

                <textarea type="text" id="form7" class="md-textarea tet form-control"
                    placeholder="Explain this report. Link appropriate resources if necessary." mdbInput></textarea>

                <button type="button" mdbBtn color="secondary" class="waves-light review-cancel z-depth-0"
                    aria-label="Close" (click)="basicModal6.hide()" mdbWavesEffect>Cancel</button>
                <button type="button" mdbBtn (click)="showAndHideModal()" (click)="basicModal6.hide()" color="primary"
                    class="relative waves-light review-submit" mdbWavesEffect>Submit</button>

            </div>
        </div>
    </div>
</div>
<!-- End Of Modal-->
<!-- Course Bookmark Modal-->
<div mdbModal #basicModal5="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
    tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content mod1">
            <div class="modal-header mod1-head">
                <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                    </span><span>{{" "}}</span> Thank You! For completeing this course.
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal-->
<div class="container-fluid review-section">
    <div class="row">
        <div class="col-8">
            <div class="row right-review">
                <div class="col-12 review-title">
                    <span *ngIf="reviewNo"> Reviews</span><span *ngIf="!reviewNo">No Reviews</span>
                </div>
                <div class="col-12 review-body">
                    <span *ngIf="reviewNo" class="rating">{{averageReview}}</span><span class="rating"
                        *ngIf="!reviewNo"> 0</span>{{" "}}<span class="reviews-number">({{reviewNo}})</span>
                </div>
                <div class="col-8 course-rating">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>
                    <ngb-rating [max]="5" [(rate)]="averageReview" [starTemplate]="t" [readonly]="true"></ngb-rating>
                </div>
                <div *ngIf="reviewNo" class="col-4">
                    <div class="sort-drop">
                        <div class="btn-group " mdbDropdown>
                            <button mdbDropdownToggle type="button" class="dropdown-toggle sort z-depth-0" mdbBtn
                                color="primary" mdbWavesEffect>Sort By</button>
                            <div class="dropdown-menu dropdown-primary">
                                <a (click)="latestDate()" class="dropdown-item">Latest</a>
                                <a (click)="highestRating()" class="dropdown-item">Highest Rating</a>
                                <a (click)="lowestRating()" class="dropdown-item">Lowest Rating</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review col-12">
                    <div class="no-reviews" *ngIf="!reviewNo"> This course has no reviews yet. Be the first to review.
                    </div>
                    <div *ngFor="let i of reviews">
                        <hr class="review-line">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-8 name"><span>{{i.name}}</span><span class="edited"
                                        *ngIf="i.edited">{{" "}}[edited]</span></div>
                                <div class="col-4 review-date">{{i.rdate}}</div>
                            </div>
                        </div>
                        <!-- <div class="designation">{{i.designation}}</div>-->
                        <div class="star-review">
                            <ngb-rating class="rate1" [max]="5" [(rate)]="i.rating" [readonly]="true"></ngb-rating>
                        </div>
                        <div class="review-desc">{{i.review}}</div>
                        <div class="row">
                            <!-- <div class="col-8 review-upvotes"><span><img
                                    src="../../assets/course-detail/upvote.png">{{" "}}</span><span class="upvote-number">{{i.upvotes}}</span>
                        </div>-->
                            <div class="col-8"></div>

                            <div *ngIf="i.id != userId" class="col-4 report-review">
                                <div class="" mdbDropdown>
                                    <img class="re" mdbDropdownToggle
                                        src="../../assets/course-detail/report-review.png">
                                    <div class="dropdown-menu rep-drop dropdown-primary">
                                        <a (click)="basicModal6.show()" class="dropdown-item">Report</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 review-post">
            <div class="col-12 tap">
                Tap To Rate
            </div>
            <div class="col-12 rate-write">
                <ngb-rating class="rate" (hover)="hovered=$event" (hover)="current=true" (leave)="current=false"
                    [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
                <div class="rate-text"><span *ngIf="!current">
                        <span *ngIf="currentRate==5">Excellent</span>
                        <span *ngIf="currentRate>2 && currentRate<5">Fair</span>
                        <span *ngIf="currentRate<3 && currentRate>0">Bad</span></span>
                    <span *ngIf="current">
                        <span *ngIf="hovered==5">Excellent</span>
                        <span *ngIf="hovered>2 && hovered<5">Fair</span>
                        <span *ngIf="hovered<3 && hovered>0">Bad</span></span>
                </div>
            </div>
            <div class="col-12 review-write">
                <span *ngIf="!isReview"> Write A Review</span><span *ngIf="isReview">Edit Your Review</span>
            </div>
            <hr class="review-footer">
            <div class="col-12">
                <form *ngIf="!isReview" #writeReview="ngForm" (ngSubmit)="onPost(writeReview.value)">
                    <textarea type="text" name="review" class="md-textarea form-control rev"
                        placeholder="Write Your Review" ngModel></textarea>
                    <button class="tips z-depth-0" type="button" mdbBtn color="primary" mdbWavesEffect>Tips</button>
                    <button class="post z-depth-0" type="submit" mdbBtn color="primary" mdbWavesEffect>Post</button>
                </form>
                <form *ngIf="isReview" #writeReview1="ngForm" (ngSubmit)="onEdit(writeReview1.value)">
                    <textarea type="text" name="review" class="md-textarea form-control rev"
                        placeholder="Write Your Review" [(ngModel)]="userReview"></textarea>
                    <button class="tips1 z-depth-0" type="button" mdbBtn color="primary" mdbWavesEffect>Delete</button>
                    <button class="post z-depth-0" type="submit" mdbBtn color="primary" mdbWavesEffect>Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-fluid">
    <div class="row">
        <div class="col-12 relevant">
            Relevant Courses
        </div>
        <div class="col-12 relevant-body">
            <app-relevant-courses></app-relevant-courses>
        </div>
    </div>
</div>-->