<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/course-detail/udemy.png" class="img-fluid provider">
        </div>
        <div class="col-6 buttons">
            <img src="../../assets/course-detail/compare.png" class="img-fluid com">{{" "}} <span
                class="compare">Compare</span> {{" "}}
            <img src="../../assets/course-detail/bookmark.png" class="img-fluid book">{{" "}} <span
                class="bookmark">Bookmark</span> {{" "}}
            <img src="../../assets/course-detail/completed.png" class="img-fluid comp">{{" "}} <span
                class="completed">Completed</span> {{" "}}
            <img src="../../assets/course-detail/report.png" class="img-fluid rep">{{" "}} <span
                class="report">Report</span> {{" "}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 title">
            Aroma Therapy: Introduction To Essential Oils For Holistic Healthcare
        </div>
    </div>
    <div class="row">
        <div class="col-12 title-footer">
            <button type="button" class="z-depth-0" mdbBtn color="info" mdbWavesEffect>Ayurveda</button>
            {{" "}}
            <button type="button" class="z-depth-0" mdbBtn color="info" mdbWavesEffect>Tag 1</button>
            {{" "}}
            <button type="button" class="z-depth-0" mdbBtn color="info" mdbWavesEffect>Tag 2</button>
            {{" "}}
            <button type="button" class="z-depth-0" mdbBtn color="info" mdbWavesEffect>Tag 3</button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="col-12"><button type="button" class="go" mdbBtn color="info" mdbWavesEffect>Go To Course</button></div>
            <div class="col-12 about">About The Course</div>
            <div class="col-12 course-description">
                <p class="text-justify bod">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.

                Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                <a  class="tog" (click)="test.toggle()" >
                    Read More
                </a>
                  
                  <div class="tog1" mdbCollapse #test="bs-collapse">
                    <p class="text-justify bod">Many
                        desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                        evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        
                        Where does it come from?
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                        Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                        Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                        theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                        sit amet..", comes from a line in section 1.10.32.
        
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                        exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                  </div>                    
            </div>
            <div class="col-12 about-instructor">
                About The Instructor
            </div>
            <div class="row">
            <div class="col-6 professor-name1">Professor Name
                <div class="professor-body">
                    Senior Preceptor in Computer Science <br> Harvard University, Senior Preceptor
                </div>
            </div>
            <div class="col-6 professor-name2">Professor Name
                <div class="professor-body">
                    Senior Preceptor in Computer Science <br> Harvard University, Senior Preceptor
                </div>
            </div>
            <div class="col-6 professor-name1">Professor Name
                <div class="professor-body">
                    Senior Preceptor in Computer Science <br> Harvard University, Senior Preceptor
                </div>
            </div>
            <div class="col-6 professor-name2">Professor Name
                <div class="professor-body">
                    Senior Preceptor in Computer Science <br> Harvard University, Senior Preceptor
                </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="course-details">
                <div class="head">
                Course Details
                </div>
                <div class="details">
                <div>
                <span class="time"><img src="../../assets/course-detail/clock.png"></span><span class="time-detail">31 Hrs</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/ratings.png"></span><span class="time-detail">3.4/5</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/price.png"></span><span class="time-detail">Free</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/charging.png"></span><span class="time-detail">3Hrs/week, for 6 weeks </span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/compass.png"></span><span class="time-detail">This course is self paced</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/calendar.png"></span><span class="time-detail">Start Any Time</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/batch-size.png"></span><span class="time-detail">80 in a batch</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/enrollments.png"></span><span class="time-detail">3423 total enrollments</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/bulb.png"></span><span class="time-detail">Intermediate</span>
                </div>
                <hr>
                <div>
                    <span class="time"><img src="../../assets/course-detail/language.png"></span><span class="time-detail">English</span>
                </div>
                <hr>
                <div class="bottom">
                    <span class="time"><img src="../../assets/course-detail/transcript.png"></span><span class="time-detail">English, French Tamil Transcripts</span>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
