<ngu-carousel #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$ | async">
  <div class="item" *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
    <mdb-card class="car z-depth-0">
      <!--Card image-->
      <a href="/find?search=web" class="stretched-link">
      <mdb-card-img  class="im" [src]="item" alt="Card image cap"></mdb-card-img></a>
    </mdb-card>
  
  </div>

  <button NguCarouselPrev class="leftRs" >
    <img src="../../assets/homepage/left.png">
  </button>
  <button NguCarouselNext class="rightRs" >
    <img src="../../assets/homepage/right.png">
  </button>

  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let i of myCarousel.pointNumbers" [class.active]="i == myCarousel.activePoint"
      (click)="myCarousel.moveTo(i)"></li>
  </ul>
</ngu-carousel>