<div class="container-fluid left">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-4 profile">
            <p><img src="../../assets/profile/profile.png"></p>
            <p *ngIf="profileData">{{firstname}}{{" "}}{{lastname}}</p>
            <div class="bio1">
                <p *ngIf="profileData" class="bio text-justify">{{bio}}</p>
            </div>
            <div *ngIf="sameUser" class="col-12">
                <p class="icons">
                    <a (click)="basicModal.show()"> <img src="../../assets/profile/write.png"></a>
                    <img class="attachment" src="../../assets/profile/attachment.png">
                </p>
            </div>
            <p class="badges"> <span class="badges-header">Badges</span>
                <!--<span class="badges-all"><a href="badges">View Details</a></span>-->
                <br>
                <span>
                    <span class="badge1"><img src="../../assets/profile/rec.png"></span>
                    <span class="badge"><img src="../../assets/profile/rec.png"></span>
                    <span class="badge"><img src="../../assets/profile/rec.png"></span>
                </span>
            </p>
            <div>
                <p class="right-header">Find The Right Course!</p>
                <p class="right-body text-justify">A single online platform to find, compare, track and review the
                    course right for
                    you, efficiently.</p>
                <p class="but1"><a hre="/right-course"><button mdbBtn type="button" class="but z-depth-0" color="primary" mdbWavesEffect>Start
                        Now</button></a></p>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-8 ">
            <div class="container-fluid">
                <div *ngIf="profileData" class="row">
                    <div *ngIf="sameUser; else condition1" class="col-12">
                        <div class="col-12 title">
                            My Courses
                        </div>
                        <div class="col-12 ongoing">
                            Bookmarked
                        </div>
                        <hr>
                        <div class="col-12 body">
                            <img *ngIf="!isBookmark" src="../../assets/profile/Frame 120.png" class="img-fluid no-book">
                            <div *ngIf= "isBookmark">
                            <ngu-carousel  #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems1$ | async">
                                <div class="item" *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
                                  <mdb-card class="card ">
                                    <div class="col-12 title1">
                                      <img class="icon" src="../../assets//profile/{{item.course_provider}}.png">
                                    </div>
                                    <mdb-card-body class="bod">
                                     <a href="/course-detail?cid={{item.course_id}}"> <mdb-card-title class="title-card">
                                        {{item.course_name | slice:0:68}}...
                                      </mdb-card-title>
                                     </a>
                                      <mdb-card-text>
                                        <a href="/course-detail?cid={{item.course_id}}">
                                        <div class="row fade1">
                                          <div class="col-6 bag"><img src="../../assets/profile/bag.png">
                                            <span *ngIf="item.course_fee != -1"
                                                            class="icon-body">{{" "}}{{item.course_fee}}</span>
                                                        <span *ngIf="item.course_fee == -1"
                                                            class="icon-body">{{" "}}Free</span>
                                                        </div>
                                          <div class="col-6 clock"><img src="../../assets/profile/clock.png"><span
                                            class="icon-body">{{" "}}{{item.course_dur}} Hrs
                                        </span>
                                            </div>
                                          <div class="col-6 bulb"><img src="../../assets/profile/bulb.png"><span
                                            class="icon-body">{{" "}}{{item.course_diff}}</span>
                                              </div>
                                          <div class="col-6 star"><img src="../../assets/profile/star.png"><span
                                            *ngIf="item.course_review>0; else condition1"
                                            class="icon-body">{{" "}}{{item.course_review}}
                                            ({{item.course_rating}})</span>
                                        <ng-template class="icon-bo" #condition1><span
                                                class="icon-body">{{" "}}No Reviews</span></ng-template></div>
                                        </div>
                                        </a>
                                        <hr class="footer">
                                        <div class="row uni">
                                          <div class="university">{{item.course_col}}</div>
                                          <button mdbBtn type="button" (click)="comparator(item)" class="button2" color="info" outline="true" mdbWavesEffect>Complete</button>
                                          <button mdbBtn type="button" (click)="removeBookmark(item)" class="button3" color="info" outline="true" mdbWavesEffect>Remove</button>
                                        </div>
                                      </mdb-card-text>
                                    </mdb-card-body>
                                  </mdb-card>
                                </div>
                              
                                <button NguCarouselPrev class="leftRs" [style.opacity]="0.5">
                                  &lt;
                                </button>
                                <button NguCarouselNext class="rightRs" [style.opacity]="0.5">
                                  &gt;
                                </button>
                              
                              
                              </ngu-carousel>
                            </div>
                        </div>
                    </div>
                    <ng-template #condition1>
                        <div class="col-12 title">
                            {{profileData.firstname}}'s Courses
                        </div>
                    </ng-template>
                    <div class="col-12 bookmark">
                        Completed
                    </div>
                    <hr class="completed-line">
                    <div class="col-12 body1">
                        <img src="../../assets/profile/Frame 94.png" class="img-fluid no-comp">
                       <!-- <ngu-carousel #myCarousel [inputs]="carouselTileConfig"
                            [dataSource]="carouselTileItems$ | async">
                            <div class="item" *nguCarouselDef="let item; index as i; let ani = animate" [@slider]="ani">
                                <mdb-card class="card ">
                                    <div class="col-12 title1">
                                        <img class="icon" src="../../assets/profile/{{item.course_provider}}.png">
                                    </div>
                                    <mdb-card-body class="bod">
                                        <a [routerLink]="['/course-detail']" [queryParams]="{ cid: item.course_id}">
                                            <mdb-card-title class="title-card">
                                                {{item.course_name | slice:0:68}}...
                                            </mdb-card-title>
                                        </a>

                                        <mdb-card-text>
                                            <a [routerLink]="['/course-detail']" [queryParams]="{ cid: item.course_id}">
                                                <div class="row fade1">
                                                    <div class="col-6 bag"><img src="../../assets/profile/bag.png">
                                                        <span *ngIf="item.course_fee != '-'"
                                                            class="icon-body">{{" "}}{{item.course_fee}}</span>
                                                        <span *ngIf="item.course_fee == '-'"
                                                            class="icon-body">{{" "}}Free</span>
                                                    </div>
                                                    <div class="col-6 clock"><img
                                                            src="../../assets/profile/clock.png"><span
                                                            class="icon-body">{{" "}}{{item.course_dur}} Hrs
                                                        </span></div>
                                                    <div class="col-6 bulb"><img
                                                            src="../../assets/profile/bulb.png"><span
                                                            class="icon-body">{{" "}}{{item.course_diff}}</span></div>
                                                    <div class="col-6 star"><img
                                                            src="../../assets/profile/star.png"><span
                                                            *ngIf="item.course_review>0; else condition1"
                                                            class="icon-body">{{" "}}{{item.course_review}}
                                                            ({{item.course_rating}})</span>
                                                        <ng-template class="icon-bo" #condition1><span
                                                                class="icon-body">{{" "}}No Reviews</span></ng-template>
                                                    </div>
                                                </div>
                                            </a>
                                            <hr class="footer">
                                            <div class="row uni">
                                                <div class="university">{{item.course_col}}</div>
                                                <button mdbBtn type="button" class="button1" color="info" outline="true"
                                                    mdbWavesEffect>Add a Review</button>
                                            </div>
                                        </mdb-card-text>
                                    </mdb-card-body>
                                </mdb-card>
                            </div>

                            <button NguCarouselPrev class="leftRs" [style.opacity]="0.5">
                                &lt;
                            </button>
                            <button NguCarouselNext class="rightRs" [style.opacity]="0.5">
                                &gt;
                            </button>


                        </ngu-carousel>-->
                    </div>
                    <!-- <div *ngIf="sameUser" class="col-12">
                        <div class="col-12 complete">
                            Recommended
                        </div>
                        <hr>
                        <div class="col-12 body last">
                            <app-completed-courses></app-completed-courses>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header mod-head">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <span class="modal-title w-100" id="myModalLabel">Edit Profile</span>
            </div>
            <div class="modal-body mod-body">
                <form *ngIf="profileData" #updateInfo="ngForm" (ngSubmit)="onClickSubmit(updateInfo.value)">
                    <label class="test" for="firstname"> First Name
                        <!--<span class="required">{{" "}}*</span>--></label>
                    <div>
                        <input type="text" name="firstname" placeholder="First Name"
                            [(ngModel)]="profileData.firstname">
                    </div>
                    <br />
                    <label class="test" for="lastname"> Last Name</label>
                    <div>
                        <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="profileData.lastname">
                    </div>
                    <br />
                    <label class="test" for="bio">Write Your Bio</label>
                    <div>
                        <textarea name="bio" placeholder="Bio" [(ngModel)]="profileData.bio"></textarea>
                    </div>
                    <button class="cancel" type="button" aria-label="Close" (click)="basicModal.hide()">Cancel</button>
                    <button class="save" type="submit" value="submit" (click)="basicModal.hide()">Save</button>
                </form>

            </div>
        </div>
    </div>
    <!-- Course Report Modal-->
<div mdbModal #basicModal1="mdbModal" [config]="{backdrop: false, ignoreBackdropClick: true}" class="modal fade"
tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-frame modal-bottom" role="document">
    <div class="modal-content mod1">
        <div class="modal-header mod1-head">
            <span class="modal-title w-100" id="myModalLabel"><span><img src="../../assets/course-detail/tick.png">
                </span><span>{{" "}}</span> Your bio has been updated!</span>
        </div>
    </div>
</div>
</div>
<!-- End of Modal-->