<div class="container-fluid">
    <div class="row">
        <div class="col-9 left">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 title">
                        My Courses
                    </div>
                    <div class="col-12 ongoing">
                        Ongoing
                    </div>
                    <hr>
                    <div class="col-12 body">
                        <app-ongoing-courses></app-ongoing-courses>
                    </div>
                    <div class="col-12 bookmark">
                        Bookmarked
                    </div>
                    <hr>
                    <div class="col-12 body">
                        <app-bookmarked-courses></app-bookmarked-courses>
                    </div>
                    <div class="col-12 complete">
                        Completed
                    </div>
                    <hr>
                    <div class="col-12 body last">
                        <app-completed-courses></app-completed-courses>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 right">
            <p><img src="../../assets/profile/profile.png"></p>
            <p>Anshul Kumar</p>
        </div>
    </div>
</div>
