.left{
    background-color: #f5f5f5;
    
}
.profile{
    position: sticky;
    top:9%;
    left: 1%;
    text-align: center;
    padding-top: 2%;
    font-family: Muli;
    font-size: 1em;
    font-weight: bold;
    line-height: 114%;
    letter-spacing: 0.0025em;
    font-style: normal;
    background-color: white;
    height: 100%;
    margin-bottom: 1%;
}
.bio{
    padding: 1%;
    font-weight: normal;
    font-family: muli;
    font-size: 0.88em;
    color: #8A8886;
}
.icons{
    text-align: center;
    padding-top: 2%;
}
.settings{
    padding-left: 12%;
}
.attachment{
    padding-left: 12%;
}
.badges{
    padding-left: 10%;
    margin: 10% 4%;
    padding-top: 2%;
    padding: 3%;
    border: 2px solid #e0e2e8;
    border-radius: 5px;
    color: #494949;
    font-size: 14px;
    letter-spacing: 0.0025em;
    text-align: left;
}
.badges-header{
    padding-left: 7%;
}
.badge1{
    margin-left: 0.8%;
}
.badge,.badge1{
    padding-top: 7%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.right-header{
    text-align: left;
    padding-left: 10%;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 2%;
    padding-left: 3%;
    color: #494949;
    font-size: 14px;
    letter-spacing: 0.0025em;
}
.right-body{
    font-size: 14px;
    padding-left: 10%;
    padding-right: 10%;
    font-style: normal;
    font-weight: normal;
    color: #8A8886;
}
.but1{
    margin-left: 6%;
    text-align: left;
    margin-bottom: 5%;
}
.but{
  text-transform: none;
    background-color: #0376Fe !important;
    padding: 6px 20px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
    border-radius: 5px;
}
hr{
    width: 87%;
    border-top: 2px solid #e0e2e8;
}
.title{
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    padding-left: 6.5%;
    font-size: 1.88em;
    letter-spacing: 0.0025em;
    line-height: 114%;
    padding-top: 4%;
}
.ongoing,.complete{
    font-family: Muli;
    font-weight: bold;
    font-style: normal;
    padding-left: 6.5%;
    color: #494949;
    letter-spacing: 0.0025em;
    font-size: 1.25em;
    line-height: 0%;
    padding-bottom: 3px;
    padding-top: 4%;
    margin-bottom: 0%;
}
.bookmark{
    font-family: Muli;
    font-weight: bold;
    font-style: normal;
    padding-left: 7.5%;
    color: #494949;
    letter-spacing: 0.0025em;
    font-size: 1.25em;
    line-height: 0%;
    padding-bottom: 3px;
    padding-top: 4%;
    margin-bottom: 0%;
}
.body{
    padding-left: 5%;
    padding-right: 5%;
    
}
.body1{
    padding-left: 5.3%;
    padding-right: 5%;
    margin-bottom: 4%;
}
.last{
    margin-bottom: 4%;
}

.badges-all{
    font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */
padding-left: 35%;
text-align: right;

color: #0376FE;
}
.mod-head{
    border-style: none !important;
    font-family: Montserrat !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 20px !important;
line-height: 24px !important;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #000000;
}
.modal{
    margin-top: 10%;
}
.test{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #494949;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: flex-start;
margin: 0px 3px;
}
input[type=text]{
    display: flex;
flex-direction: column;
padding: 6px 8px;

position: static;
height: 32px;
left: 0px;
right: 0px;
top: 23px;

background: #FAFBFC;
border: 2px solid #E0E2E8;
box-sizing: border-box;
border-radius: 5px;

/* Inside Auto Layout */

flex: none;
order: 1;
margin: 0px 3px;
width: 100%;
}
.cancel{
    font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
border-style: none;
background: white;
color: #0376FE;
padding-left: 70%;;
}
.save{
    padding-left: 16px;
    padding-right: 16px;;
    background: #0376FE;
border-radius: 5px;
font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
margin-left: 4% !important;


color: #FFFFFF;


/* Inside Auto Layout */
border-color: #0376Fe;
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}
textarea{
    width: 100%;
    display: flex;
flex-direction: column;
padding: 6px 8px;
height: 100px !important;

background: #FAFBFC;
border: 2px solid #E0E2E8;
box-sizing: border-box;
border-radius: 5px;
}
.bio1{
    text-align: center;
}
.required{
    color: red;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 30px;
  border-style: none !important;
  background-color: #f5f5f5;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 30px;
  border-style: none !important;
  background-color: #f5f5f5;
  right: 0;
}
  .card{
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 8%;
      border-radius: 5px;
  }
  .title1{
      background-color: #1B5D9A;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
  }
  .icon{
    position: relative;
    top: 17px;
  }
  .dots{
      padding-top: 8%;
      padding-bottom: 5%;
  }
  .title-card{
    position: absolute;
    top: 26%;
    font-family: Muli !important;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25em;
    font-size: 1em ;
  }
  .university{
    position:absolute;
    top: 78%;
    transition: opacity linear 0.3s;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #8A8886;
    line-height: 1.25em;
    padding-left: 7%;
    
  }
  .footer{
    margin-bottom: 0px;
    border-top: 2px solid #e0e2e8;
    width: 100%;
  }
  .bag,.clock{
    padding-top: 10%;
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    font-family: Muli;
    color: #8A8886;
    line-height: 20px;
  }
  .star,.bulb{
    padding-top: 3.5%;
    font-weight: 600;
    font-size: 0.8em;
    font-style: normal;
    font-family: Muli;
    color: #8A8886;
    line-height: 20px;
    padding-right: 0px;
  }
  .bod{
    padding-bottom: 0px;
  }
  .icon-body{
    position: relative;
    top: 2px;
    left: 0px;
  }
  
  .button1{
      opacity: 0;
      text-transform: none;
      position: absolute;
      transition: opacity linear 0.3s;
      top: 78%;
      left: 24%;
      font-family: Muli !important;
      font-size: 14px !important;
      padding: 3% 8%;
      font-weight: 600;
      border-color: #0376FE !important;
      border-radius: 6px;
      color: #0376FE !important;
      padding-left: 6.5% !important;
      padding-right: 6.5% !important;
      padding-bottom: 2% !important;
      padding-top: 2% !important;
  }
  
  .fade1{
    margin-top: 13%;
    transition: opacity linear 0.3s;
  }
  .card:hover{
    .button1{
      opacity: 1;
    }
    .university{
      opacity: 0;
    }
  }
  .icon-bo{
    position: relative;
    top: 12px !important;
  }
  a{
    color: black !important;
  }
  a:hover{
    text-decoration: none;
  }
  .icon{
    width: 18%;
    height: auto;
  }
  .uni{
    padding-top: 20%;
  }
  .button2{
    opacity: 0;
    position: absolute;
    transition: opacity linear 0.3s;
    top: 78%;
    left: 6%;
    font-family: Muli !important;
    font-size: 12px !important;
    padding: 3% 8%;
    font-weight: 600;
    border-color: #0376FE !important;
    border-radius: 6px;
    color: #0376FE !important;
    padding-bottom: 2.5% !important;
    padding-top: 2.5% !important;
}
.button3{
  opacity: 0;
  position: absolute;
  transition: opacity linear 0.3s;
  top: 78%;
  right: 6%;
  font-family: Muli !important;
  font-size: 12px !important;
  padding: 2% 8%;
  font-weight: 600;
  border-color: #0376FE !important;
  border-radius: 6px;
  color: #0376FE !important;
  padding-bottom: 2.5% !important;
  padding-top: 2.5% !important;
}
.fade1{
  transition: opacity linear 0.3s;
}
.card:hover{
  .button3{
    opacity: 1;
  }
  .button2{
    opacity: 1;
  }
  .university{
    opacity: 0;
  }
}
a{
  color: black !important;
}
a:hover{
  text-decoration: none;
}
.no-comp{
    margin-left: 2.5%;
}
.completed-line{
    margin-left: 7.65%;
    margin-right: 7%;
}
.no-book{
    padding-left: 1.65%;
}
.mod1 {
  background-color: #0376fe;
}
.mod1-head {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 114%;
  /* identical to box height, or 16px */
  text-align: center;
  align-items: center;
  letter-spacing: 0.0025em;

  color: #ffffff;
}
.but:hover{
  background-color: #0376dd !important;
}
.save:hover{
  background-color: #0376dd !important;
}
.button1:hover,.button2:hover, .button3:hover{
  border-color: #0376dd !important;
  color: #0376dd !important;
}