<div class="container-fluid title">
  <div class="row">
    <div class="col-12">
      Contact Us
    </div>
  </div>
</div>
<div class="container-fluid question">
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-6">
      <p class="got">Have a question? We'd love to hear from you!</p>
      <p class="send">Fill out this form and we will be in touch with lightning speed</p>
      <!-- Default form row -->

      <!-- Grd row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-12">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="Name">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12">
          <!-- Default input -->
          <input mdbInput type="email" class="form-control" placeholder="E-mail ID">
        </div>
        <!-- Grid column -->
        <div class="col-12">
          <!-- Default input -->
          <input mdbInput type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="col-12">
          <textarea type="text" class="form-control area" placeholder="Type your message here" mdbInput></textarea>
        </div>
        <div class="col-12">
          <button mdbBtn type="button" class="button" color="primary" mdbWavesEffect>Send</button>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-block d-lg-block d-xl-block">
      <img class="img-fluid" src="../../assets/contactus/contact-us.png">
    </div>
  </div>
  <div class="row">
    <div class="col-12 header">
      <span class="email-header">Send us an email</span> <span>{{" "}}</span> <span class="text-header">WhatsApp us on
        </span><span>{{" "}}</span><span class="follow-header d-none d-md-inline d-lg-inline d-xl-inline">Follow
        us</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 footer">
      <span class="email">admin@edunaut.in</span><span>{{" "}}</span><span class="text">+91-6377951249</span>
      <span class="follow d-none d-md-inline-block d-lg-inline-block d-xl-inline-block">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </span>
    </div>
  </div>
</div>