
.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon{
	background: rgb(70, 69, 69) ;
  }

@media screen and (max-width: 677px)
{
	html,body{
		overflow-x: hidden;
}
}
html,body{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';
.ng5-slider {
	.ng5-slider-pointer {
	height: 14px  !important;
	width: 14px !important;
	top:-7px !important;
	z-index: 1 !important;
	}
  }

  *,*:focus,*:hover{
    outline:none;
}