<div class="container-fluid coming">
    <div class="row">
        <div class="col-sm-6 title">
            <p class="heading">Coming Soon!</p>
            <p class="body">
                This part of the website is still under construction. We are hoping to make it available to everyone as soon as possible.
            </p>
           <a href="/"> <button mdbBtn type="button" class="button z-depth-0" color="primary" mdbWavesEffect>Explore Courses</button></a>
           <p class="quora">
            Want to join our team and help build our product? <a href="#" class="link">Converse with us on Quora.</a>
           </p>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="../../assets/coming-soon/coming-soon.png">
        </div>
    </div>
</div>
