<div class="container-fluid coming">
    <div class="row">
        <div class="col-sm-6 title">
            <p class="heading">Coming Soon!</p>
            <p class="body">
                Something! Something! Something! Something! Something! Something! Something! Something! Something! Something! Something! Something!
            </p>
           <a href="/"> <button mdbBtn type="button" class="button" color="primary" mdbWavesEffect>Go Back Home</button></a>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="../../assets/coming-soon/coming-soon.png">
        </div>
    </div>
</div>
