<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">
            Policy Page
        </div>
    </div>
</div>
<div class="container-fluid body">
    <div class="row">
        <div class="col-12 text-justify">
            Edunaut is an online platform dedicated to helping learners discover courses, collaborate on projects, and
            create learning pathways. Our community is diverse and passionate, with different learners having different
            points of view. While participating, it’s important to be respectful of other learners.
        </div>
        <div class="col-12 text-justify help">
            To help us maintain our platform’s integrity, please ensure that your content is -
        </div>
        <div class="col-12 text-justify">
            <ul>
                <li>Friendly</li>
                We value critical dialogue. Disagree, but do so with credible references to back up your claim and do
                not attack other learners for their opinions. Hate speech is prohibited.
                <li>Non-commercial</li>
                Spam and self-promotional content are prohibited. We reserve the right to remove any URLs from the
                comments.
                <li>Respectful of privacy</li>
                Content containing personal financial information including Credit Card details, Loyalty Rewards
                numbers, or other financial information can be removed.
                We allow multiple people to log-in using a single account (and therefore, share passwords).
                <li>Original</li>
                Any content plagiarized from other websites, reviewers, emails, or printed materials will be removed.
            </ul>
        </div>
        <div class="col-12 text-justify right">
            Edunaut reserves the right to remove any content which violates our rules. Please keep in mind the spirit in
            which these
            were written, and know that looking for loopholes is a waste of time.
        </div>
        <div class="col-12 text-justify">
            *Individual communities on Edunaut may have their own rules in addition to ours and their moderators to enforce them.
        </div>
        <div class="col-12 text-justify thanks">
            Thanks,
        </div>
        <div class="col-12 text-justify">
            Team Edunaut
        </div>
        <div class="col-12 text-justify think">
            Think you can help us improve our Content Policy, then reach out to us at content@edunaut.in
        </div>
    </div>
</div>